@import url(../reset.css);
@import url(../font/font.css);
section {
  height: 100vh;
}
section.main-visual-sec {
  position: relative;
}
section.main-visual-sec .split-Box {
  width: 100%;
  height: 100%;
}
section.main-visual-sec .split-Box .word {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
section.main-visual-sec .split-Box .word .slide {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
section.main-visual-sec .split-Box .word .slide .desc {
  color: white;
  position: absolute;
  font-family: YES24MyoungjoB;
  left: 50%;
  top: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}
section.main-visual-sec .split-Box .word .slide.slide1 .desc {
  text-align: center;
  line-height: 1;
}
section.main-visual-sec .split-Box .word .slide.slide1 .desc p {
  font-size: 18px;
}
section.main-visual-sec .split-Box .word .slide.slide1 .desc h3 {
  font-size: 35px;
}
section.main-visual-sec .split-Box .word .slide.slide2 .desc {
  text-align: left;
  left: 20%;
}
section.main-visual-sec .split-Box .word .slide.slide2 .desc p {
  font-size: 23px;
  line-height: 1.8;
}
section.main-visual-sec .split-Box .word .slide.slide3 .desc {
  top: 30%;
}
section.main-visual-sec .split-Box .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
section.main-visual-sec .split-Box .bg .slide {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
section.main-visual-sec .split-Box .bg .slide.slide1 {
  background-image: url(./image/v_img01_sdown.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide2 {
  background-image: url(./image/v_img02.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide3 {
  background-image: url(./image/v_img03.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide4 {
  background-image: url(./image/v_img04.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide5 {
  background-image: url(./image/v_img05.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide6 {
  background-image: url(./image/v_img06.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide7 {
  background-image: url(./image/v_img07.jpg);
}

@media screen and (max-width: 768px) {
  section.main-visual-sec .swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
  }
}