@import url(../reset.css);
@import url(../font/font.css);
header {
  position: fixed;
  width: 100%;
  height: 110px;
  top: 0;
  left: 0;
  z-index: 50;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
header .header-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
  font-size: 13px;
  font-family: scdream4;
}
header .header-box:hover {
  background-color: rgba(253, 253, 253, 0.7);
}
header .header-box:hover .main-box {
  color: #313f4e;
}
header .header-box:hover h1 a .logo-w {
  z-index: -1;
  opacity: 0;
}
header .header-box:hover h1 a .logo-b {
  z-index: 1;
  opacity: 1;
}
header .header-box:hover .gnb {
  color: #313f4e;
}
header .header-box:hover .gnb li.btn {
  background-color: #313f4e;
}
header .header-box:hover .gnb li.btn::after {
  background-color: #313f4e;
}
header .header-box:hover .gnb li.btn::before {
  background-color: #313f4e;
}
header .header-box h1 {
  position: relative;
  display: block;
  width: 300px;
  height: 40px;
}
header .header-box h1 a .logo-w {
  z-index: 1;
  opacity: 1;
}
header .header-box h1 a .logo-b {
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.35s;
}
header .header-box h1 a img {
  position: absolute;
  width: 100%;
}
header .header-box .main-box {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 50px;
  font-size: 15px;
  font-family: scdream6;
  color: #fff;
}
header .header-box .main-box nav {
  width: 100%;
}
header .header-box .main-box nav ul.main-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}
header ul.gnb {
  display: flex;
  color: #fff;
  font-family: scdream5;
  font-size: 20px;
}
header ul.gnb li.btn {
  margin-left: 20px;
  position: relative;
  top: 12px;
  width: 30px;
  height: 2px;
  background-color: #fff;
}
header ul.gnb li.btn:hover::before {
  width: 10px;
}
header ul.gnb li.btn:hover::after {
  width: 20px;
}
header ul.gnb li.btn::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  top: -8px;
  left: 0;
}
header ul.gnb li.btn::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  top: 8px;
  left: 0;
}
header ul.gnb li.btn a {
  width: 50px;
  display: inline-block;
  text-indent: -9999px;
}
header .sitemap-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  z-index: -1;
  opacity: 0;
  transition: 0.35s;
}
header .sitemap-box.on {
  right: 0;
  z-index: 50;
  opacity: 1;
}
header .sitemap-box .inner-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
header .sitemap-box .inner-box .visual-box {
  width: 100%;
  height: auto;
  color: white;
  background: #313f4e;
  padding: 15px 10px;
}
header .sitemap-box .inner-box .visual-box h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-family: scdream6;
}
header .sitemap-box .inner-box .visual-box h2 p {
  padding-left: 15px;
}
header .sitemap-box .inner-box .mn-box {
  width: 100%;
  position: initial;
  padding: initial;
  justify-content: left;
  align-items: flex-start;
}
header .sitemap-box .inner-box .mn-box .close-map-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 0.35s;
}
header .sitemap-box .inner-box .mn-box .close-map-btn:hover {
  transform: rotate(180deg);
}
header .sitemap-box .inner-box .mn-box .close-map-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: rotate(-45deg);
}
header .sitemap-box .inner-box .mn-box .close-map-btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: rotate(90deg);
}
header .sitemap-box .inner-box .mn-box .close-map-btn span.indent9999 {
  display: block;
  text-indent: -9999px;
  font-size: 0px;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav {
  padding: 20px;
  font-family: scdream5;
  color: #333;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn {
  width: 100%;
  height: auto;
  line-height: 40px;
  transition: 0.35s;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn.on div {
  background-color: #e33a56;
  color: #fff;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn.on div .mn-updown-btn span {
  border-color: #fff;
  transform: rotate(225deg);
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn.on ul.sub-mn {
  max-height: 600px;
  background-color: #f4f4f4;
  color: #777;
  pointer-events: initial;
  padding: 10px;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.35s;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn div a {
  display: block;
  padding: 5px 10px;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn div .mn-updown-btn {
  display: block;
  width: 24px;
  height: 24px;
  margin: 5px 10px;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn div .mn-updown-btn span {
  width: 100%;
  height: 100%;
  border-width: 0 2.5px 2.5px 0;
  border-style: solid;
  border-color: #ccc;
  transform: rotate(45deg);
  transition: 0.35s;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn div .mn-updown-btn span.indent9999 {
  display: block;
  text-indent: -9999px;
  font-size: 0px;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn ul.sub-mn {
  font-size: 15px;
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn ul.sub-mn li {
  padding: 5px 20px;
  position: relative;
}
header .sitemap-box .inner-box .mn-box .sitemap-nav .main-mn ul.sub-mn li::before {
  position: absolute;
  content: "";
  left: 5px;
  top: 22px;
  width: 5px;
  height: 5px;
  background-color: #777;
  border-radius: 50%;
}

section {
  width: 100%;
  height: 100vh;
}
section.main-visual-sec {
  position: relative;
}
section.main-visual-sec .split-Box {
  width: 100%;
  height: 100%;
}
section.main-visual-sec .split-Box .word {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
section.main-visual-sec .split-Box .word .slide {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
section.main-visual-sec .split-Box .word .slide .desc {
  color: white;
  position: absolute;
  font-family: YES24MyoungjoB;
  left: 50%;
  top: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}
section.main-visual-sec .split-Box .word .slide.slide1 .desc {
  text-align: center;
  line-height: 1;
}
section.main-visual-sec .split-Box .word .slide.slide1 .desc p {
  font-size: 18px;
}
section.main-visual-sec .split-Box .word .slide.slide1 .desc h3 {
  font-size: 35px;
}
section.main-visual-sec .split-Box .word .slide.slide2 .desc {
  text-align: left;
  left: 20%;
}
section.main-visual-sec .split-Box .word .slide.slide2 .desc p {
  font-size: 23px;
  line-height: 1.8;
}
section.main-visual-sec .split-Box .word .slide.slide3 .desc {
  top: 30%;
}
section.main-visual-sec .split-Box .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
section.main-visual-sec .split-Box .bg .slide {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
section.main-visual-sec .split-Box .bg .slide.slide1 {
  background-image: url(./image/v_img01_sdown.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide2 {
  background-image: url(./image/v_img02.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide3 {
  background-image: url(./image/v_img03.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide4 {
  background-image: url(./image/v_img04.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide5 {
  background-image: url(./image/v_img05.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide6 {
  background-image: url(./image/v_img06.jpg);
}
section.main-visual-sec .split-Box .bg .slide.slide7 {
  background-image: url(./image/v_img07.jpg);
}
section.sect1 {
  background-image: url(./image/section01.jpg);
  text-align: center;
  color: #fff;
}
section.sect1 .inner-box {
  width: 100%;
  height: 100%;
  position: relative;
}
section.sect1 .inner-box .title-box {
  width: 100%;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}
section.sect1 .inner-box .title-box .title {
  width: 100%;
  height: 100%;
  font-family: YES24MyoungjoR;
}
section.sect1 .inner-box .title-box .title-desc {
  margin: 0 0 50px 0;
  line-height: 1.8;
}
section.sect1 .inner-box .title-box > a {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  width: 220px;
  padding: 20px 35px 20px 20px;
  border-radius: 10px;
  font-family: scdream5;
}
section.sect1 .inner-box .title-box > a::after {
  content: "\e907";
  position: absolute;
  display: inline-block;
  font-size: 22px;
  font-family: xeicon;
  padding-left: 5px;
}
section.sect1 .mn-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 1000px;
  height: 220px;
  z-index: 300;
}
section.sect1 .mn-list li {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 40%;
  margin: 0 3px 0 0;
}
section.sect1 .mn-list li:nth-child(1)::after, section.sect1 .mn-list li:nth-child(2)::after, section.sect1 .mn-list li:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  transition: height 0.35s;
}
section.sect1 .mn-list li:nth-child(1)::after {
  background-color: #22adb9;
}
section.sect1 .mn-list li:nth-child(2)::after {
  background-color: #1b5bbe;
}
section.sect1 .mn-list li:nth-child(3)::after {
  background-color: #d93f69;
}
section.sect1 .mn-list li:hover::after {
  height: 100%;
}
section.sect1 .mn-list li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-family: scdream4;
  z-index: 100;
}
section.sect1 .mn-list li a .icon-box {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.sect1 .mn-list li a .icon-box p {
  padding-top: 20px;
}
section.sect2 {
  background-image: url(./image/section02.jpg);
}
section.sect2 .inner-box {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  text-align: left;
}
section.sect2 .inner-box .text-box .item {
  padding-bottom: 50px;
}
section.sect2 .inner-box .text-box .item .title {
  font-size: 35px;
  line-height: 1.6;
  margin: 0 0 25px;
  font-family: YES24MyoungjoR;
}
section.sect2 .inner-box .text-box .item .title-desc {
  font-family: scdream4;
  font-size: 14px;
  line-height: 1.8;
}
section.sect2 .inner-box .text-box ul li {
  width: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4862745098);
}
section.sect2 .inner-box .text-box ul li:nth-child(2) a span img {
  width: 29px;
}
section.sect2 .inner-box .text-box ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 25px 0;
  font-family: scdream6;
  font-size: 18px;
  opacity: 0.8;
  transition: 0.35s;
}
section.sect2 .inner-box .text-box ul li a::after {
  content: "";
}
section.sect2 .inner-box .text-box ul li a:hover {
  opacity: 1;
}
section.sect2 .inner-box .text-box ul li a span {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
section.sect2 .inner-box .text-box ul li a span div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
section.sect2 .inner-box .text-box ul li a span div img {
  width: 20px;
  object-fit: contain;
}
section.sect2 .inner-box .text-box ul li a span img.arrow {
  width: 20px;
}
section.sect2 .inner-box .swiper2 {
  position: relative;
  overflow: hidden;
  width: 470px;
  height: 520px;
  margin: 0;
}
section.sect2 .inner-box .swiper2 .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  box-sizing: content-box;
}
section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 90px 0 0 50px;
  backface-visibility: hidden;
  overflow: hidden;
}
section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide .slide2-box {
  border: 1px solid transparent;
  width: 420px;
  height: 430px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}
section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide .slide2-box img {
  position: absolute;
  z-index: 100;
  width: 428px;
  top: -90px;
  left: -70px;
  max-height: 280px;
}
section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide .slide2-box .text-box {
  margin: 220px 0 0 0;
  padding: 30px;
}
section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide .slide2-box .text-box h3 {
  font-family: scdream6;
  padding-bottom: 15px;
}
section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide .slide2-box .text-box p {
  font-family: scdream3;
  line-height: 1.7;
}
section.sect2 .inner-box .swiper2 .btn-box {
  z-index: 150;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  right: 5%;
  top: 60%;
  width: 80px;
}
section.sect2 .inner-box .swiper2 .btn-box::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.6);
}
section.sect2 .inner-box .swiper2 .btn-box img {
  width: 20px;
}
section.sect3 {
  background-image: url(./image/section03.jpg);
}
section.sect3 .inner-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
section.sect3 .inner-box .text-box {
  text-align: center;
  margin-top: 200px;
}
section.sect3 .inner-box .text-box .title {
  font-family: YES24MyoungjoB;
  font-size: 35px;
  line-height: 1.7;
  margin-bottom: 35px;
}
section.sect3 .inner-box .text-box .title-desc {
  font-family: YES24MyoungjoR;
  font-size: 18px;
  line-height: 1.8;
}
section.sect3 .inner-box .mn-list {
  position: absolute;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
section.sect3 .inner-box .mn-list li {
  position: relative;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-right: 3px;
  transition: 0.35s;
  max-height: 70px;
  border-radius: 20px 20px 0 0;
  font-family: scdream4;
  transition-timing-function: ease-out;
  justify-content: center;
}
section.sect3 .inner-box .mn-list li:nth-child(1).on {
  background-color: rgba(25, 160, 181, 0.5);
  max-height: 500px;
  height: 100%;
}
section.sect3 .inner-box .mn-list li:nth-child(2).on {
  background-color: rgba(198, 138, 255, 0.5);
  max-height: 500px;
  height: 100%;
}
section.sect3 .inner-box .mn-list li:nth-child(3).on {
  background-color: rgba(138, 169, 255, 0.5);
  max-height: 500px;
  height: 100%;
}
section.sect3 .inner-box .mn-list li.on a div {
  display: block;
}
section.sect3 .inner-box .mn-list li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  width: 100%;
  height: 100%;
  padding: 20px;
}
section.sect3 .inner-box .mn-list li a div {
  width: 150px;
  display: none;
}
section.sect3 .inner-box .mn-list li a p {
  position: relative;
  margin-bottom: 70px;
}
section.sect3 .inner-box .mn-list li a p::after {
  content: "\e9c5";
  font-family: xeicon;
  position: absolute;
  display: block;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  font-weight: 300;
}
section.sect4 {
  background-image: url(./image/section04.jpg);
}
section.sect4 .inner-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.sect4 .inner-box .title {
  font-family: YES24MyoungjoB;
  color: white;
  margin-top: 140px;
  margin-bottom: 30px;
}
section.sect4 .inner-box .contents-box {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1500px;
  min-height: 70vh;
}
section.sect4 .inner-box .contents-box .contents-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
section.sect4 .inner-box .contents-box .contents-list .lilist {
  width: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: scdream5;
  font-size: 18px;
  transition: 0.35s;
  color: white;
}
section.sect4 .inner-box .contents-box .contents-list .lilist:hover {
  background-color: rgba(200, 83, 254, 0.5);
}
section.sect4 .inner-box .contents-box .contents-list .lilist a {
  display: block;
  padding: 20px;
  transition: 0.35s;
}
section.sect4 .inner-box .contents-box .contents-list .lilist a.on {
  background-color: #e33a56;
}
section.sect4 .inner-box .contents-box .contents-wrap {
  position: relative;
  width: 100%;
  height: 600px;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab {
  z-index: -1;
  opacity: 0;
  transition: 0.35s;
  height: 100%;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab.on {
  z-index: 100;
  opacity: 1;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab .swiper .in-ul .in-box {
  position: relative;
  overflow: hidden;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab .swiper .in-ul .in-box a {
  overflow: hidden;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab .swiper .in-ul .in-box a:hover img {
  transform: scale(1.2);
}
section.sect4 .inner-box .contents-box .contents-wrap .tab .swiper .in-ul .in-box a:hover p {
  opacity: 1;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab .swiper .in-ul .in-box a img {
  width: 100%;
  height: 100%;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab .swiper .in-ul .in-box a .lip {
  position: absolute;
  display: block;
  z-index: 2;
  left: 0;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  font-family: scdream5;
  transition: 0.35s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: 0.35s;
  z-index: 10;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul {
  width: 100%;
  height: 100%;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide {
  width: 100%;
  height: 100%;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box {
  width: 100%;
  z-index: 500;
  border-radius: 10px 10px 0 0;
  background-color: white;
  overflow: hidden;
  transition: 0.35s;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a {
  display: block;
  color: #313f4e;
  font-family: scdream4;
  font-size: 15px;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a:hover .img-box img {
  transform: translate(-50%, -50%) scale(1.2);
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .img-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .img-box img {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.35s;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .text-box {
  width: 100%;
  height: 180px;
  padding: 20px;
  margin-top: 15px;
  transition: 0.35s;
  background-color: white;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .text-box ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #49515a;
  margin-bottom: 20px;
  padding: 0 10px;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .text-box ul li {
  width: 100%;
  height: 100%;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .text-box ul li span {
  position: relative;
  margin-left: 20px;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .text-box ul li span::before {
  font-family: xeicon;
  position: absolute;
  display: block;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  font-size: 22px;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .text-box ul li.name span::before {
  content: "\e9f5";
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .text-box ul li.date span::before {
  content: "\e9a2";
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#review .in-ul .swiper-slide .in-box a .text-box p {
  font-size: 14px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: 0.35s;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#photo {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 550px;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: 0.35s;
}
section.sect4 .inner-box .contents-box .contents-wrap .tab#news {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.35s;
}

footer {
  width: 100%;
  height: 25vh;
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  header {
    height: 70px;
    position: fixed;
  }
  header .header-box {
    position: relative;
  }
  header .header-box h1 a {
    width: 240px;
    height: 30px;
  }
  header .header-box .main-box nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
  }
  header ul.gnb {
    position: absolute;
    right: 5%;
    top: 30%;
  }
  section.main-visual-sec .swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  section.sect1 .inner-box .title {
    font-size: 28px;
    font-family: scdream7;
    top: 40%;
    margin: 0 0 35px 0;
  }
  section.sect1 .inner-box .title-desc {
    font-size: 16px;
    font-family: scdream4;
  }
  section.sect1 .inner-box .mn-list {
    width: 100%;
    flex-direction: column;
  }
  section.sect1 .inner-box .mn-list li {
    width: 100%;
    height: 80px;
  }
  section.sect1 .inner-box .mn-list li:hover::after {
    height: 100%;
    width: 100%;
  }
  section.sect1 .inner-box .mn-list li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  section.sect1 .inner-box .mn-list li a .icon-box {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 0 0 30px;
  }
  section.sect1 .inner-box .mn-list li a .icon-box::after {
    content: "";
    position: absolute;
    display: block;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: url(./image/right-arrow-w.png);
    background-position: center;
    background-size: contain;
  }
  section.sect1 .inner-box .mn-list li a .icon-box img {
    display: none;
  }
  section.sect1 .inner-box .mn-list li a .icon-box p {
    padding: 0;
  }
  section.sect2 {
    background-position: center;
  }
  section.sect2 .inner-box {
    flex-direction: column;
    justify-content: center;
  }
  section.sect2 .inner-box .text-box {
    width: calc(100% - 40px);
    margin: auto;
    margin-top: 80px;
  }
  section.sect2 .inner-box .text-box .title {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: scdream5;
    line-height: 1.6;
    margin: 0 0 25px;
  }
  section.sect2 .inner-box .text-box .title-desc {
    width: 100%;
    text-align: center;
  }
  section.sect2 .inner-box .text-box ul {
    margin: auto;
    width: calc(100% - 40px);
  }
  section.sect2 .inner-box .text-box ul li {
    width: 100%;
  }
  section.sect2 .inner-box .swiper2 {
    width: calc(100% - 40px);
    height: 220px;
    bottom: 15px;
    z-index: 400;
  }
  section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide {
    padding: 0;
  }
  section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide .slide2-box {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide .slide2-box img {
    position: relative;
    top: initial;
    left: initial;
    width: 278px;
  }
  section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide .slide2-box .text-box {
    margin: 0;
    padding: 20px;
  }
  section.sect2 .inner-box .swiper2 .swiper-wrapper .swiper-slide .slide2-box .text-box p {
    font-size: 13px;
  }
  section.sect2 .inner-box .swiper2 .btn-box {
    top: 10%;
    right: 0%;
  }
  section.sect2 .inner-box .swiper2 .btn-box::after {
    height: 20px;
    top: 40%;
  }
  section.sect2 .inner-box .swiper2 .btn-box img {
    width: 15px;
  }
  section.sect3 .inner-box {
    width: 100%;
    margin: auto;
  }
  section.sect3 .inner-box .title-desc {
    width: 80%;
    margin: auto;
    font-size: 13px;
    line-height: 1.6;
  }
  section.sect3 .inner-box .mn-list {
    position: absolute;
    z-index: 100;
    width: 100%;
    flex-direction: column;
    gap: 3px;
  }
  section.sect3 .inner-box .mn-list li {
    width: 100%;
    border-radius: 0;
    margin: 0;
    max-height: none;
    transform: none;
  }
  section.sect3 .inner-box .mn-list li a {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  section.sect3 .inner-box .mn-list li a div {
    width: 100px;
    display: block;
  }
  section.sect3 .inner-box .mn-list li a p {
    margin-bottom: 0;
  }
  section.sect3 .inner-box .mn-list li a p::after {
    display: none;
  }
  section.sect4 .inner-box {
    overflow: hidden;
  }
  section.sect4 .inner-box .title {
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  section.sect1 .inner-box .title {
    font-size: 28px;
    font-family: scdream7;
    top: 40%;
    margin: 0 0 35px 0;
  }
  section.sect1 .inner-box .title-desc {
    font-size: 16px;
    font-family: scdream4;
  }
  section.sect1 .inner-box .mn-list {
    width: 100%;
    flex-direction: column;
  }
  section.sect1 .inner-box .mn-list li {
    width: 100%;
    height: 80px;
  }
  section.sect1 .inner-box .mn-list li:hover::after {
    height: 100%;
    width: 100%;
  }
  section.sect1 .inner-box .mn-list li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  section.sect1 .inner-box .mn-list li a .icon-box {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 0 0 30px;
  }
  section.sect1 .inner-box .mn-list li a .icon-box::after {
    content: "";
    position: absolute;
    display: block;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: url(./image/right-arrow-w.png);
    background-position: center;
    background-size: contain;
  }
  section.sect1 .inner-box .mn-list li a .icon-box img {
    display: none;
  }
  section.sect1 .inner-box .mn-list li a .icon-box p {
    padding: 0;
  }
  section.sect4 .inner-box .title {
    font-size: 50px;
  }
  section.sect4 .inner-box .contents-box .contents-list {
    flex-wrap: wrap;
    z-index: 999;
  }
  section.sect4 .inner-box .contents-box .contents-list .lilist {
    width: 45%;
  }
}
@media screen and (min-width: 769px) {
  header {
    width: 100%;
    height: 90px;
    display: flex;
  }
  header .header-box h1 a {
    width: 200px;
    height: 25px;
  }
  header .header-box .main-box {
    transition: 0.35s;
  }
  header .header-box .main-box nav {
    width: 100%;
  }
  header .header-box .main-box nav ul.main-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
  }
  header .header-box .main-box nav ul.main-ul li.main-menu {
    position: relative;
    flex-shrink: 0;
  }
  header .header-box .main-box nav ul.main-ul li.main-menu.on ul.sub-menu {
    z-index: 5;
    opacity: 1;
    max-height: initial;
  }
  header .header-box .main-box nav ul.main-ul li.main-menu ul.sub-menu {
    position: absolute;
    display: block;
    width: 100%;
    min-width: 180px;
    max-height: 0;
    overflow: hidden;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0;
    background-color: rgba(134, 42, 191, 0.8);
    text-align: center;
    font-size: 15px;
    font-family: scdream3;
    padding: 15px 10px;
    border-radius: 10px;
    transition: 0.25s;
    color: #fff;
    line-height: 2;
  }
  header .sitemap-box {
    width: 70%;
  }
  section.sect1 .inner-box .title {
    font-size: 40px;
    font-family: scdream7;
    margin: 0 0 25px 0;
  }
  section.sect1 .inner-box .title-desc {
    font-size: 18px;
    font-family: scdream4;
  }
  section.sect1 .inner-box .mn-list {
    width: 1000px;
    height: 220px;
    height: 190px;
  }
  section.sect1 .inner-box .mn-list li a {
    font-size: 16px;
  }
  section.sect1 .inner-box .mn-list li a .icon-box .hid-arrow {
    display: none;
  }
  section.sect3 .inner-box .mn-list {
    width: 1000px;
  }
  section.sect4 .inner-box .title {
    font-size: 50px;
  }
}