@import url(../reset.css);
@import url(../font/font.css);

header {
	position: fixed;
	width: 100%;
	height: 110px;
	top: 0;
	left: 0;
	z-index: 50;
	// background-color: rgba(255, 255, 255, .5);
	border-bottom: 1px solid rgba(255, 255, 255, .5);

	.header-box {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 20px 15px;
		// transition: 0.35s;
		font-size: 13px;
		font-family: scdream4;

		&:hover {
			background-color: rgba(253, 253, 253, 0.7);

		}

		&:hover .main-box {
			color: #313f4e;
		}

		&:hover h1 a .logo-w {
			z-index: -1;
			opacity: 0;
		}

		&:hover h1 a .logo-b {
			z-index: 1;
			opacity: 1;
		}

		&:hover .gnb {
			color: #313f4e;
		}

		&:hover .gnb li.btn {
			background-color: #313f4e;
		}

		&:hover .gnb li.btn::after {
			background-color: #313f4e;
		}

		&:hover .gnb li.btn::before {
			background-color: #313f4e;
		}

		h1 {
			position: relative;
			display: block;
			width: 300px;
			height: 40px;

			a {
				.logo-w {
					z-index: 1;
					opacity: 1;
				}

				.logo-b {
					position: absolute;
					width: 100%;
					z-index: -1;
					opacity: 0;
					transition: 0.35s;
				}

				img {
					position: absolute;
					width: 100%;
					// z-index: -1;
					// opacity: 0;
					// transition: 0.35s;
				}
			}
		}

		.main-box {
			display: flex;
			align-items: center;
			width: 60%;
			gap: 50px;
			font-size: 15px;
			font-family: scdream6;
			color: #fff;


			nav {
				width: 100%;

				ul.main-ul {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					flex: 1;

				}
			}
		}
	}

	ul.gnb {
		display: flex;
		color: #fff;
		font-family: scdream5;
		font-size: 20px;

		li.btn {
			margin-left: 20px;
			position: relative;
			top: 12px;
			width: 30px;
			height: 2px;
			background-color: #fff;

			&:hover::before {
				width: 10px;
			}

			&:hover::after {
				width: 20px;
			}

			&::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 2px;
				background-color: #fff;
				top: -8px;
				left: 0;
			}

			&::after {
				content: '';
				position: absolute;
				width: 30px;
				height: 2px;
				background-color: #fff;
				top: 8px;
				left: 0;
			}

			a {
				width: 50px;
				display: inline-block;
				text-indent: -9999px;
			}

		}
	}

	.sitemap-box {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		right: -100%;
		z-index: -1;
		opacity: 0;
		transition: 0.35s;

		&.on {
			right: 0;
			z-index: 50;
			opacity: 1;
		}

		.inner-box {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			background-color: #fff;

			.visual-box {
				width: 100%;
				height: auto;
				color: white;
				background: #313f4e;
				padding: 15px 10px;

				h2 {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					font-size: 18px;
					font-family: scdream6;

					p {
						padding-left: 15px;
					}
				}
			}

			.mn-box {
				width: 100%;
				position: initial;
				padding: initial;
				justify-content: left;
				align-items: flex-start;

				.close-map-btn {
					position: absolute;
					top: 20px;
					right: 30px;
					width: 30px;
					height: 30px;
					cursor: pointer;
					padding: 0;
					border: none;
					background-color: transparent;
					transition: 0.35s;

					&:hover {
						transform: rotate(180deg);
					}

					span {
						display: block;
						width: 100%;
						height: 3px;
						background-color: #fff;
						transform: rotate(-45deg);

						&::after {
							content: "";
							display: block;
							width: 100%;
							height: 3px;
							background-color: #fff;
							transform: rotate(90deg);
						}

						&.indent9999 {
							display: block;
							text-indent: -9999px;
							font-size: 0px;
						}
					}
				}

				.sitemap-nav {
					padding: 20px;
					font-family: scdream5;
					color: #333;

					.main-mn {
						width: 100%;
						height: auto;

						line-height: 40px;
						transition: 0.35s;

						&.on div {
							background-color: #e33a56;
							color: #fff;
						}

						&.on div .mn-updown-btn span {
							border-color: #fff;
							transform: rotate(225deg);
						}

						&.on ul.sub-mn {
							max-height: 600px;
							background-color: #f4f4f4;
							color: #777;
							pointer-events: initial;
							padding: 10px;
						}

						div {
							display: flex;
							width: 100%;
							height: 100%;
							justify-content: space-between;
							align-items: center;
							transition: 0.35s;

							a {
								display: block;
								padding: 5px 10px;
							}

							.mn-updown-btn {
								display: block;
								width: 24px;
								height: 24px;
								margin: 5px 10px;
								padding: 5px;
								background-color: transparent;
								border: none;
								cursor: pointer;

								span {
									width: 100%;
									height: 100%;
									border-width: 0 2.5px 2.5px 0;
									border-style: solid;
									border-color: #ccc;
									transform: rotate(45deg);
									transition: 0.35s;

									&.indent9999 {
										display: block;
										text-indent: -9999px;
										font-size: 0px;
									}
								}
							}
						}

						ul.sub-mn {
							font-size: 15px;
							margin-top: 0;
							max-height: 0;
							overflow: hidden;

							li {
								padding: 5px 20px;

								position: relative;

								&::before {
									position: absolute;
									content: '';
									left: 5px;
									top: 22px;
									width: 5px;
									height: 5px;
									background-color: #777;
									border-radius: 50%;
								}
							}
						}
					}
				}
			}
		}
	}
}

section {
	width: 100%;
	height: 100vh;

	&.main-visual-sec {
		position: relative;

		.split-Box {
			width: 100%;
			height: 100%;

			.word {
				z-index: 10;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;

				.slide {
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					position: absolute;

					.desc {
						color: white;
						position: absolute;
						font-family: YES24MyoungjoB;
						left: 50%;
						top: 50%;
						font-size: 2rem;
						transform: translate(-50%, -50%);
					}

					&.slide1 {

						.desc {
							text-align: center;
							line-height: 1;

							p {
								font-size: 18px;
							}

							h3 {
								font-size: 35px;
							}
						}

					}

					&.slide2 {

						.desc {
							text-align: left;
							left: 20%;

							p {
								font-size: 23px;
								line-height: 1.8;
							}
						}
					}

					&.slide3 {
						.desc {
							top: 30%;
						}
					}


				}
			}

			.bg {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;

				.slide {
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					position: absolute;

					&.slide1 {
						background-image: url(./image/v_img01_sdown.jpg);

					}

					&.slide2 {
						background-image: url(./image/v_img02.jpg);

					}

					&.slide3 {
						background-image: url(./image/v_img03.jpg);

					}

					&.slide4 {
						background-image: url(./image/v_img04.jpg);
					}

					&.slide5 {
						background-image: url(./image/v_img05.jpg);
					}

					&.slide6 {
						background-image: url(./image/v_img06.jpg);
					}

					&.slide7 {
						background-image: url(./image/v_img07.jpg);
					}
				}
			}



		}
	}

	&.sect1 {
		background-image: url(./image/section01.jpg);
		text-align: center;
		color: #fff;

		.inner-box {
			width: 100%;
			height: 100%;
			position: relative;

			.title-box {
				width: 100%;
				position: absolute;
				top: 180px;
				left: 50%;
				transform: translateX(-50%);


				.title {
					width: 100%;
					height: 100%;
					font-family: YES24MyoungjoR;
				}

				.title-desc {
					margin: 0 0 50px 0;
					line-height: 1.8;
				}

				>a {
					display: block;
					background-color: rgba(0, 0, 0, .5);
					margin: auto;
					width: 220px;
					padding: 20px 35px 20px 20px;
					border-radius: 10px;
					font-family: scdream5;

					&::after {
						content: "\e907";
						position: absolute;
						display: inline-block;
						font-size: 22px;
						font-family: xeicon;
						padding-left: 5px;
					}
				}
			}

		}

		.mn-list {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			width: 1000px;
			height: 220px;
			z-index: 300;

			li {
				background-color: rgba(0, 0, 0, .5);
				position: relative;
				width: 40%;
				margin: 0 3px 0 0;

				&:nth-child(1)::after,
				&:nth-child(2)::after,
				&:nth-child(3)::after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					width: 100%;
					height: 5px;
					transition: height 0.35s;

				}

				&:nth-child(1)::after {
					background-color: #22adb9;
				}

				&:nth-child(2)::after {
					background-color: #1b5bbe;
				}

				&:nth-child(3)::after {
					background-color: #d93f69;
				}

				&:hover::after {
					height: 100%;
				}

				a {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					font-family: scdream4;
					z-index: 100;

					.icon-box {
						position: absolute;
						display: flex;
						width: 100%;
						height: 100%;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						p {
							padding-top: 20px;
						}

					}
				}
			}
		}

	}

	&.sect2 {
		background-image: url(./image/section02.jpg);

		.inner-box {
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: space-around;
			color: #fff;
			text-align: left;

			.text-box {
				.item {
					padding-bottom: 50px;

					.title {
						font-size: 35px;

						line-height: 1.6;
						margin: 0 0 25px;
						font-family: YES24MyoungjoR;
					}

					.title-desc {
						font-family: scdream4;
						font-size: 14px;
						line-height: 1.8;
					}
				}

				ul {
					li {
						width: 300px;
						border-bottom: 1px solid rgba(255, 255, 255, 0.4862745098);

						&:nth-child(2) a span img {
							width: 29px;
						}

						a {
							position: relative;
							display: block;
							width: 100%;
							height: 100%;
							padding: 25px 0;
							font-family: scdream6;
							font-size: 18px;
							opacity: .8;
							transition: .35s;

							&::after {
								content: '';

							}

							&:hover {
								opacity: 1;
							}

							span {
								width: 100%;
								display: flex;
								align-items: center;
								gap: 10px;

								div {
									width: 100%;
									display: flex;
									align-items: center;

									gap: 10px;

									img {
										width: 20px;
										object-fit: contain;
									}
								}

								img.arrow {
									width: 20px;
								}
							}
						}
					}
				}
			}

			.swiper2 {
				position: relative;
				overflow: hidden;
				width: 470px;
				height: 520px;
				margin: 0;

				.swiper-wrapper {
					position: relative;
					width: 100%;
					height: 100%;
					z-index: 100;
					display: flex;
					box-sizing: content-box;

					.swiper-slide {
						flex-shrink: 0;
						width: 100%;
						height: 100%;
						position: relative;
						padding: 90px 0 0 50px;
						backface-visibility: hidden;
						overflow: hidden;

						.slide2-box {
							border: 1px solid transparent;
							width: 420px;
							height: 430px;
							position: relative;
							background-color: rgba(0, 0, 0, .3);



							img {
								position: absolute;
								z-index: 100;
								width: 428px;
								top: -90px;
								left: -70px;
								max-height: 280px;
							}

							.text-box {
								margin: 220px 0 0 0;
								padding: 30px;

								h3 {
									font-family: scdream6;
									padding-bottom: 15px;
								}

								p {
									font-family: scdream3;
									line-height: 1.7;
								}
							}
						}
					}
				}

				.btn-box {
					z-index: 150;
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 15px;
					right: 5%;
					top: 60%;
					width: 80px;

					&::after {
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 2px;
						height: 25px;
						background-color: rgba(255, 255, 255, .6);
					}

					img {
						width: 20px;
					}
				}
			}
		}

	}

	&.sect3 {
		background-image: url(./image/section03.jpg);

		.inner-box {
			width: 100%;
			height: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			color: white;

			.text-box {
				text-align: center;
				margin-top: 200px;

				.title {
					font-family: YES24MyoungjoB;
					font-size: 35px;
					line-height: 1.7;
					margin-bottom: 35px;
				}

				.title-desc {
					font-family: YES24MyoungjoR;
					font-size: 18px;
					line-height: 1.8;
				}
			}

			.mn-list {
				position: absolute;
				display: flex;
				align-items: flex-end;
				overflow: hidden;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);

				li {
					position: relative;
					width: 30%;
					background-color: rgba(0, 0, 0, .4);
					margin-right: 3px;
					transition: .35s;
					max-height: 70px;
					border-radius: 20px 20px 0 0;
					font-family: scdream4;
					transition-timing-function: ease-out;
					justify-content: center;

					&:nth-child(1).on {
						background-color: rgba(25, 160, 181, .5);
						max-height: 500px;
						height: 100%;
					}

					&:nth-child(2).on {
						background-color: rgba(198, 138, 255, 0.5);
						max-height: 500px;
						height: 100%;
					}

					&:nth-child(3).on {
						background-color: rgba(138, 169, 255, 0.5);
						max-height: 500px;
						height: 100%;
					}

					&.on a div {
						display: block;
					}

					a {
						position: relative;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: flex-start;
						gap: 50px;
						width: 100%;
						height: 100%;
						padding: 20px;

						div {
							width: 150px;
							display: none;
						}

						p {
							position: relative;
							margin-bottom: 70px;

							&::after {
								content: "\e9c5";
								font-family: xeicon;
								position: absolute;
								display: block;
								bottom: -70px;
								left: 50%;
								transform: translateX(-50%);
								font-size: 26px;
								font-weight: 300;

							}
						}
					}
				}
			}
		}
	}

	&.sect4 {
		background-image: url(./image/section04.jpg);

		.inner-box {
			display: flex;
			width: 100%;

			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			.title {
				font-family: YES24MyoungjoB;
				color: white;
				margin-top: 140px;
				margin-bottom: 30px;
			}

			.contents-box {
				position: relative;
				width: calc(100% - 40px);
				max-width: 1500px;
				min-height: 70vh;

				.contents-list {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					width: 100%;
					margin-bottom: 30px;

					.lilist {
						width: 25%;
						text-align: center;
						background-color: rgba(0, 0, 0, .3);
						font-family: scdream5;
						font-size: 18px;
						transition: .35s;
						color: white;


						&:hover {
							background-color: rgba(200, 83, 254, 0.5);
						}

						a {
							display: block;
							padding: 20px;
							transition: .35s;

							&.on {
								background-color: #e33a56;
							}

						}
					}
				}

				.contents-wrap {
					position: relative;
					width: 100%;
					height: 100%;

					.tab {
						// position: relative;
						z-index: -1;
						opacity: 0;

						transition: .35s;
						// max-height: 550px;
						height: 100%;

						&.on {
							z-index: 100;
							opacity: 1;

						}

						.swiper {
							.in-ul {
								.in-box {
									position: relative;
									overflow: hidden;

									a {

										overflow: hidden;

										&:hover img {
											transform: scale(1.2);
										}

										&:hover p {
											opacity: 1;
										}

										img {
											width: 100%;
											height: 100%;
										}

										.lip {
											position: absolute;
											display: block;
											z-index: 2;
											left: 0;
											bottom: 0;
											color: white;
											width: 100%;
											padding: 15px 20px;
											background-color: rgba(0, 0, 0, .4);
											font-size: 13px;
											font-family: scdream5;
											transition: .35s;
											overflow: hidden;
											text-overflow: ellipsis;
											white-space: nowrap;
											opacity: 0;
										}
									}
								}
							}
						}

						&#review {
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
							overflow: hidden;
							transition: .35s;
							z-index: 10;

							.in-ul {
								width: 100%;
								height: 100%;

								.swiper-slide {
									width: 100%;
									height: 100%;

									.in-box {
										width: 100%;
										z-index: 500;
										border-radius: 10px 10px 0 0;
										background-color: white;
										overflow: hidden;
										transition: .35s;


										a {

											display: block;
											color: #313f4e;
											font-family: scdream4;
											font-size: 15px;

											&:hover .img-box img {
												transform: translate(-50%, -50%) scale(1.2);
											}

											.img-box {
												position: relative;
												overflow: hidden;
												width: 100%;
												height: 180px;

												img {

													object-fit: cover;
													object-position: center;
													position: absolute;
													top: 50%;
													left: 50%;
													transform: translate(-50%, -50%);

													transition: .35s;
												}
											}

											.text-box {
												width: 100%;
												height: 180px;
												padding: 20px;
												margin-top: 15px;
												transition: .35s;
												background-color: white;


												ul {
													width: 100%;

													display: flex;
													justify-content: space-between;
													font-size: 13px;
													color: #49515a;
													margin-bottom: 20px;
													padding: 0 10px;

													li {
														width: 100%;
														height: 100%;

														span {
															position: relative;
															margin-left: 20px;

															&::before {

																font-family: xeicon;
																position: absolute;
																display: block;
																top: 50%;
																left: -30px;
																transform: translateY(-50%);
																font-size: 22px;

															}
														}

														&.name {
															span {
																&::before {
																	content: "\e9f5";

																}
															}
														}

														&.date {
															span {
																&::before {
																	content: "\e9a2";

																}
															}
														}
													}
												}

												p {
													font-size: 14px;
													height: 60px;
													overflow: hidden;

													text-overflow: ellipsis;
													line-height: 2;
													display: -webkit-box;
													-webkit-box-orient: vertical;
													-webkit-line-clamp: 2;
												}
											}
										}
									}
								}
							}
						}

						&#video {
							position: absolute;
							width: 100%;
							height: 100%;
							// max-height: 550px;
							left: 0;
							top: 0;
							overflow: hidden;
							transition: .35s;


						}

						&#photo {
							position: absolute;
							width: 100%;
							height: 100%;
							// max-height: 550px;
							left: 0;
							top: 0;
							overflow: hidden;
							transition: .35s;

							.swiper-grid-column>.swiper-wrapper {
								flex-wrap: wrap;
								flex-direction: row;


							}
						}

						&#news {
							// position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							overflow: hidden;

							transition: .35s;


						}


					}


				}
			}
		}

	}
}
footer{
	width: 100%;
	height: 25vh;
	background-color: black;
	color: white;
}

@media screen and (max-width:768px) {
	header {
		height: 70px;
		position: fixed;

		.header-box {
			position: relative;

			h1 {
				a {
					width: 240px;
					height: 30px;
				}
			}

			.main-box {
				nav {
					position: absolute;
					right: 0;
					top: 0;
					width: 100%;

					opacity: 0;
				}
			}
		}

		ul.gnb {
			position: absolute;
			right: 5%;
			top: 30%;
		}

	}

	section {
		&.main-visual-sec {
			.swiper-wrapper {
				.swiper-slide {
					background-position: center;
					background-size: cover;
				}
			}
		}

		&.sect1 {
			.inner-box {
				.title {
					font-size: 28px;
					font-family: scdream7;
					top: 40%;
					margin: 0 0 35px 0;
				}

				.title-desc {
					font-size: 16px;
					font-family: scdream4;
				}

				.mn-list {
					width: 100%;
					flex-direction: column;

					li {
						width: 100%;
						height: 80px;

						&:hover::after {
							height: 100%;
							width: 100%;
						}

						a {
							position: relative;
							display: block;
							width: 100%;
							height: 100%;

							.icon-box {
								display: flex;
								align-items: start;
								justify-content: center;
								padding: 0 0 0 30px;

								&::after {
									content: '';
									position: absolute;
									display: block;
									right: 20px;
									width: 20px;
									height: 20px;
									background-image: url(./image/right-arrow-w.png);
									background-position: center;
									background-size: contain;
								}

								img {
									display: none;
								}

								p {
									padding: 0;
								}


							}
						}
					}
				}
			}
		}

		&.sect2 {
			background-position: center;

			.inner-box {
				flex-direction: column;
				justify-content: center;

				.text-box {
					width: calc(100% - 40px);
					margin: auto;
					margin-top: 80px;

					.title {
						width: 100%;
						text-align: center;
						font-size: 28px;
						font-family: scdream5;
						line-height: 1.6;
						margin: 0 0 25px;
					}

					.title-desc {
						width: 100%;
						text-align: center;
					}

					ul {
						margin: auto;
						width: calc(100% - 40px);

						li {
							width: 100%;
						}
					}
				}

				.swiper2 {
					width: calc(100% - 40px);
					height: 220px;
					bottom: 15px;
					z-index: 400;

					.swiper-wrapper {
						.swiper-slide {
							padding: 0;

							.slide2-box {
								display: flex;
								width: 100%;
								height: 100%;
								padding: 10px;

								img {
									position: relative;
									top: initial;
									left: initial;
									width: 278px;
								}

								.text-box {
									margin: 0;
									padding: 20px;

									p {
										font-size: 13px;
									}
								}
							}
						}
					}

					.btn-box {
						top: 10%;
						right: 0%;

						&::after {
							height: 20px;
							top: 40%;
						}

						img {
							width: 15px;
						}
					}
				}
			}

		}

		&.sect3 {
			.inner-box {
				width: 100%;
				margin: auto;

				.title-desc {
					width: 80%;
					margin: auto;
					font-size: 13px;
					line-height: 1.6;
				}

				.mn-list {
					position: absolute;
					z-index: 100;
					width: 100%;
					flex-direction: column;
					gap: 3px;

					li {
						width: 100%;
						border-radius: 0;
						margin: 0;
						max-height: none;
						transform: none;

						a {
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							div {
								width: 100px;
								display: block;
							}

							p {
								margin-bottom: 0;

								&::after {
									display: none;
								}
							}
						}
					}
				}
			}
		}

		&.sect4 {
			.inner-box {
				overflow: hidden;

				.title {
					font-size: 50px;

				}


			}
		}
	}
}

@media screen and (max-width:500px) {
	section {
		&.sect1 {
			.inner-box {
				.title {
					font-size: 28px;
					font-family: scdream7;
					top: 40%;
					margin: 0 0 35px 0;
				}

				.title-desc {
					font-size: 16px;
					font-family: scdream4;
				}

				.mn-list {
					width: 100%;
					flex-direction: column;

					li {
						width: 100%;
						height: 80px;

						&:hover::after {
							height: 100%;
							width: 100%;
						}

						a {
							position: relative;
							display: block;
							width: 100%;
							height: 100%;

							.icon-box {
								display: flex;
								align-items: start;
								justify-content: center;
								padding: 0 0 0 30px;

								&::after {
									content: '';
									position: absolute;
									display: block;
									right: 20px;
									width: 20px;
									height: 20px;
									background-image: url(./image/right-arrow-w.png);
									background-position: center;
									background-size: contain;
								}

								img {
									display: none;
								}

								p {
									padding: 0;
								}


							}
						}
					}
				}
			}
		}

		&.sect4 {
			.inner-box {

				.title {
					font-size: 50px;

				}

				.contents-box {
					.contents-list {
						flex-wrap: wrap;
						z-index: 999;

						.lilist {
							width: 45%;
						}
					}
				}


			}
		}
	}
}



@media screen and (min-width:769px) {
	header {
		width: 100%;
		height: 90px;
		display: flex;

		.header-box {
			h1 {
				a {
					width: 200px;
					height: 25px;
				}
			}

			.main-box {
				transition: 0.35s;

				nav {
					width: 100%;

					ul.main-ul {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						flex: 1;


						li.main-menu {

							position: relative;
							flex-shrink: 0;

							&.on ul.sub-menu {
								z-index: 5;
								opacity: 1;
								max-height: initial;
							}

							ul.sub-menu {
								position: absolute;
								display: block;
								width: 100%;
								min-width: 180px;
								max-height: 0;
								overflow: hidden;
								top: 130%;
								left: 50%;
								transform: translateX(-50%);
								z-index: -1;
								opacity: 0;
								background-color: rgba(134, 42, 191, .8);
								text-align: center;
								font-size: 15px;
								font-family: scdream3;
								padding: 15px 10px;
								border-radius: 10px;
								transition: 0.25s;
								color: #fff;
								line-height: 2;
							}
						}
					}
				}
			}


		}

		.sitemap-box {
			width: 70%;
		}
	}

	section {
		&.sect1 {
			.inner-box {
				.title {
					font-size: 40px;
					font-family: scdream7;

					margin: 0 0 25px 0;
				}

				.title-desc {
					font-size: 18px;
					font-family: scdream4;
				}

				.mn-list {
					width: 1000px;
					height: 220px;
					height: 190px;

					li {
						a {
							font-size: 16px;

							.icon-box {
								.hid-arrow {
									display: none;
								}
							}
						}
					}
				}
			}
		}

		&.sect3 {
			.inner-box {
				.mn-list {
					width: 1000px;

				}
			}
		}

		&.sect4 {
			.inner-box {

				.title {
					font-size: 50px;

				}


			}
		}
	}
}