@import url(../../../font/font.css);
@import url(../../../reset.css);
h2 {
  font-size: 40px;
  font-family: scdream3;
  font-style: normal;
  color: #590385;
}

h3 {
  font-size: 30px;
  font-family: scdream2;
  font-style: normal;
  color: #8f03db;
}

@media screen and (min-width: 1350px) {
  header .head_text .myt {
    width: 26%;
    top: 10%;
  }
  header .head_text .head_desc {
    width: 50%;
  }
  header .head_text .head_desc p {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main .sect1 {
    margin: 100px 0;
    width: 100%;
    height: 100%;
  }
  main .sect1 h2 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  main .sect1 h2::after {
    content: "";
    bottom: -5px;
  }
  main .sect1 .seserch {
    width: 50%;
    margin-top: 130px;
    max-width: 800px;
    margin-left: 30%;
  }
  main .sect1 table {
    margin: 140px auto;
  }
  main .sect1 table thead tr {
    margin-bottom: 20px;
  }
  main .sect1 table thead tr th {
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
  }
  main .sect1 table td {
    padding: 10px;
    font-size: 17px;
    text-align: center;
  }
  main .sect1 table td img {
    width: 20px;
  }
  main .sect1 .desc {
    padding-top: 10px;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 7px;
    justify-content: space-between;
  }
  main .sect1 .desc h3 {
    font-size: 17px;
    font-family: scdream6;
  }
  main .sect1 .desc li {
    width: 26%;
    border-radius: 10px;
    height: 200px;
  }
  main .sect1 .desc li p {
    font-size: 14px;
    padding: 11px;
    font-family: scdream4;
    line-height: 1.8;
  }
  main .sect1 .more-p {
    width: 90%;
    margin-top: 10px;
    padding: 20px;
    font-family: scdream4;
    line-height: 1.8;
    color: #038B6A;
  }
  main .sect2 .chart {
    max-width: 1350px;
    margin: auto;
  }
  main .sect2 .desc-plus {
    max-width: 1350px;
    margin: auto;
    padding-top: 30px;
  }
  main .sect2 .desc-plus .desc {
    padding-top: 50px;
  }
  main .sect2 .desc-plus .desc h3::before {
    content: "";
    position: absolute;
    left: -170px;
    top: 30px;
    width: 150%;
    height: 1px;
    background-color: #590385;
  }
  main .sect3 {
    margin: auto;
  }
  main .sect3 .desc ul {
    max-width: 1350px;
  }
  main .sect3 .desc ul li {
    width: 45%;
  }
}
.sect6 {
  height: 220vh;
  padding-bottom: 100px;
}
.sect6 .art-desc .page2 {
  position: sticky;
  top: 100px;
  left: 130px;
  width: 300px;
  margin-right: 50px;
  z-index: 20;
}
.sect6 .art-desc .page2 h4 {
  padding-top: 80px;
  font-family: scdream1;
  padding-bottom: 20px;
  background: linear-gradient(135deg, #bf13fe, #00ffea);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 60px;
}
.sect6 .art-desc .page2 h4 b {
  font-family: scdream1;
  font-size: 70px;
}
.sect6 .art-desc .page2 p {
  padding-top: 30px;
  font-family: scdream4;
  font-size: 13px;
  line-height: 1.7;
  padding-bottom: 20px;
}
.sect6 .art-desc .page2 img {
  width: 200px;
}
.sect6 .art-desc .page-mockup {
  position: absolute;
  right: 0%;
  top: 10%;
  width: 60%;
  z-index: 25;
}
.sect6 .art-desc .page-mockup ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sect6 .art-desc .page-mockup ul li {
  width: 45%;
  position: relative;
}
.sect6 .art-desc .page-mockup ul li:nth-child(1) p {
  left: 15px;
  bottom: -110px;
  width: 230px;
}
.sect6 .art-desc .page-mockup ul li:nth-child(2) p {
  left: 15px;
  bottom: -110px;
  width: 260px;
}
.sect6 .art-desc .page-mockup ul li p {
  font-size: 13px;
  padding-bottom: 20px;
}
.sect6 .art-desc .page-mockup ul li p::after {
  content: "";
  left: -40px;
  bottom: 0px;
  width: 130%;
  height: 1px;
  background-color: #022783;
  position: absolute;
}
.sect6 .art-desc .page-mockup ul li:nth-child(even) {
  transform: translateY(40%);
}
.sect6 .art-desc .page-mockup ul li img {
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sect6 .art-desc .page-mockup2 {
  margin-top: 30px;
  position: absolute;
  right: 0%;
  bottom: 0;
  width: 60%;
  z-index: 25;
  padding-bottom: 120px;
}
.sect6 .art-desc .page-mockup2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sect6 .art-desc .page-mockup2 ul li {
  width: 45%;
  padding-bottom: 20px;
  position: relative;
}
.sect6 .art-desc .page-mockup2 ul li:nth-child(1) p {
  left: 15px;
  bottom: -90px;
  width: 230px;
}
.sect6 .art-desc .page-mockup2 ul li:nth-child(2) p {
  left: 15px;
  bottom: -90px;
  width: 260px;
}
.sect6 .art-desc .page-mockup2 ul li p {
  position: absolute;
  font-family: scdream4;
  font-size: 13px;
  line-height: 1.8;
  color: #022783;
  padding-bottom: 10px;
}
.sect6 .art-desc .page-mockup2 ul li p::after {
  content: "";
  left: -40px;
  bottom: -10px;
  width: 130%;
  height: 1px;
  background-color: #022783;
  position: absolute;
}
.sect6 .art-desc .page-mockup2 ul li:nth-child(even) {
  transform: translateY(40%);
}
.sect6 .art-desc .page-mockup2 ul li img {
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sect7 {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
.sect7 #carousel {
  position: relative;
  height: 900px;
  top: 30%;
  max-width: 1250px;
  margin: auto;
  overflow: hidden;
}
.sect7 #carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
.sect7 #carousel div img {
  width: 300px;
  height: 100%;
  transition: width 1s;
  border-radius: 10px;
}
.sect7 #carousel div.hideLeft {
  left: 50%;
  opacity: 0;
  transform: translateY(200px) translateX(-50%);
}
.sect7 #carousel div.hideLeft img {
  width: 250px;
  height: 100%;
}
.sect7 #carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(200px) translateX(-50%);
}
.sect7 #carousel div.hideRight img {
  width: 200px;
}
.sect7 #carousel div.prev {
  z-index: 5;
  left: 35%;
  transform: translateY(120px) translateX(-50%);
}
.sect7 #carousel div.prev img {
  width: 200px;
}
.sect7 #carousel div.prevLeftSecond {
  z-index: 4;
  left: 25%;
  transform: translateY(200px) translateX(-50%);
  opacity: 0.5;
}
.sect7 #carousel div.prevLeftSecond img {
  width: 100px;
}
.sect7 #carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}
.sect7 #carousel div.next {
  z-index: 5;
  left: 68%;
  transform: translateY(120px) translateX(-50%);
}
.sect7 #carousel div.next img {
  width: 200px;
}
.sect7 #carousel div.nextRightSecond {
  z-index: 4;
  left: 78%;
  transform: translateY(200px) translateX(-50%);
  opacity: 0.5;
}
.sect7 #carousel div.nextRightSecond img {
  width: 100px;
}