@import url(../reset.css);
@import url(../font/font.css);
$container: 1024px;

@mixin flex-align($justfy) {
	display: flex;
	justify-content: $justfy;
	align-items: center;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: white;
	border-bottom: 1px solid #efefef;
	@include flex-align(space-between);
	z-index: 100;

	nav {
		width: 55%;

		ul {
			@include flex-align(space-between);
			font-family: scdream5;
		}
	}

	.gnb {
		width: 204px;
		height: 40px;
		@include flex-align(space-between);
		font-family: scdream5;
		gap: 5px;

		li {
			font-size: 13px;

			&.search {
				width: 18px;
				height: 100%;
				background-image: url(./image/header_sch.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}

			&.none {
				color: transparent;
			}

			&.mall {
				background-image: url(./image/logo_chill_mall.png);
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}

}

section {
	&#sect1 {
		height: 100vh;

		.swiper {
			.swiper-slide {
				p {
					font-family: scdream2;
					color: white;
					line-height: 1.7;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				&.slide1 {
					background-image: url(./image/1.png);
				}

				&.slide2 {
					background-image: url(./image/2.png);
				}

				&.slide3 {
					background-image: url(./image/3.png);
				}

				&.slide4 {
					background-image: url(./image/4.png);
				}

				&.slide5 {
					background-image: url(./image/5.jpg);
				}

				&.slide6 {
					background-image: url(./image/6.jpg);
				}

				&.slide7 {
					background-image: url(./image/7.jpg);
				}
			}

			.slide_menu {
				position: absolute;
				top: 70%;
				left: 50%;
				transform: translate(-50%, -70%);
				@include flex-align(center);
				gap: 15px;
				z-index: 20;

				.paging_menu {
					@include flex-align(center);
					gap: 20px;

					li {
						width: 30px;
						height: 30px;
						color: transparent;
						cursor: pointer;
						background-image: url(./image/mainRoll_indi.png);

						&.on {
							background-image: url(./image/mainRoll_indi_on.png);
						}
					}
				}

				a.pause {
					display: inline-block;
					width: 9px;
					height: 11px;
					color: transparent;
					background-image: url(./image/btn_pause.png);

					&.active {
						background-image: url(./image/btn_play.png);

					}
				}
			}

			a.arrow {
				position: absolute;
				top: 60%;
				transform: translateY(-50%);
				z-index: 40;

				&.prev {
					left: 5%;
				}

				&.next {
					right: 5%;
				}
			}
		}
	}

	&#sect2 {
		position: relative;
		width: 100%;
		height: auto;

		.sticky {
			color: white;
			width: 100%;
			text-align: center;
			position: sticky;
			top: 150px;
			color: #919191;

			h2 {
				font-family: scdream9;
				font-size: 240px;

			}

			p {
				font-family: scdream2;
				font-size: 24px;
			}
		}

		.two_menu {
			padding-top: 100px;
			padding-bottom: 200px;
			width: 70%;
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 20px;

			li {
				width: calc(50% - 20px);
				height: 492px;
				position: relative;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;

				&:nth-child(even) {
					top: 100px;
				}

				.li_title {
					position: absolute;
					color: white;
					left: 15%;
					top: 10%;
					text-align: left;

					p {
						font-family: scdream4;
					}

					h3 {
						font-family: scdream9;
						font-size: 100px;
						display: inline-block;

						b {
							font-size: 20px;
							font-family: scdream2;
						}
					}
				}

				&.t_menu1 {
					background-image: url(./image/mainCon_one_list_bg1.jpg);

				}

				&.t_menu2 {
					background-image: url(./image/mainCon_one_list_bg2.jpg);

				}

				&.t_menu3 {
					background-image: url(./image/mainCon_one_list_bg3.jpg);

				}

				&.t_menu4 {
					background-image: url(./image/mainCon_one_list_bg4.jpg);

				}
			}
		}



	}


	&#sect3 {
		position: relative;
		width: 100%;
		height: 1000px;
		background-color: rgba(39, 145, 115, 0.9);

		.sticky {
			color: white;
			width: 100%;
			text-align: center;
			position: sticky;
			top: 150px;

			h2 {
				font-family: scdream9;
				font-size: 240px;
			}

			p {
				font-family: scdream2;
				font-size: 24px;
			}
		}

		.tab_contents {
			width: $container;
			background-color: white;
			height: 470px;
			position: relative;
			margin: auto;

			article {
				width: 100%;
				height: 100%;
				position: absolute;

				&.on {
					z-index: 30;
				}

				.visual {
					.sub_title {
						color: #333;
						width: 80%;

						h4 {
							font-family: scdream2;
							font-size: 50px;
							position: absolute;
							top: 60px;
							left: 40px;
							opacity: 0;
							transition: .3s;
							transform: translateY(50px);
						}

						h3 {
							font-family: scdream2;
							font-size: 80px;
							position: absolute;
							top: 110px;
							left: 40px;
							opacity: 0;
							transition: .6s;
							transform: translateY(50px);
						}

						p {
							font-family: scdream4;
							font-size: 19px;
							position: absolute;
							width: 60%;
							top: 215px;
							left: 40px;
							opacity: 0;
							transition: .8s;
							transform: translateY(50px);
						}
					}

					.btns {
						display: flex;
						gap: 10px;
						text-align: center;
						font-size: 20px;
						position: absolute;
						bottom: 60px;
						left: 40px;
						transform: translateY(50px);
						transition: .5s;
						opacity: 0;
						z-index: 50;

						button {

							display: block;
							width: 180px;
							height: 60px;
							background: #149f5c;
							border: none;
							border-radius: 50px;
							color: white;
						}
					}
				}

				.product_img {
					width: 520px;
					height: 526px;
					position: absolute;
					bottom: 0;

					right: -126px;

					img {
						position: absolute;
						bottom: 0;


						opacity: 0;
						transform: translateY(100px);
						transition: .5s;
					}

					.img_2 {
						transition: .35s;
					}
				}

				&.on .sub_title h4 {
					opacity: 1;
					transform: translateY(0px);
				}

				&.on .sub_title h3 {
					opacity: 1;
					transform: translateY(0px);
				}

				&.on .sub_title p {
					opacity: 1;
					transform: translateY(0px);
				}

				&.on .btns {
					opacity: 1;
					transform: translateY(0px);
				}

				&.on .product_img .img_1 {
					opacity: 1;
					transform: translateY(0);

				}

				&.on .product_img .img_2 {
					opacity: 1;
					transform: translateY(0);
				}

				&#icis .sub_title h3 {
					top: 180px;
				}

				&#icis .sub_title p {
					top: 280px;
				}



				&#cloud .sub_title h3 {
					top: 180px;
				}

				&#cloud .sub_title p {
					top: 290px;

				}

			}
		}

		.menu-item {
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: rgba(255, 255, 255, 0.5);
				left: 50%;
				transform: translateX(-50%);
				top: 5px;
			}

			width: 100%;
			margin: 30px auto 0;
			position: relative;
			padding-bottom: 50px;

			.dot {
				position: absolute;
				width: 10px;
				height: 10px;
				background: #fff;
				border-radius: 100%;
				top: 0;
				left: 40px;
				transition: all 0.3s;

			}

			ul.tab_menu {
				width: 1024px;
				margin: 30px auto 0;
				position: relative;
				padding-top: 30px;
				z-index: 5;
				color: white;
				@include flex-align(space-between);

				a {
					opacity: .7;

					&.on {
						opacity: 1;
						font-weight: bold;
					}
				}
			}

		}

	}



}

footer {
	width: 100%;
	margin: auto;
	padding-top: 80px;
	position: relative;

	.f_first {
		width: 60%;
		margin: auto;
		display: flex;
		justify-content: space-between;

		select {
			height: 30px;
		}
	}

	.f_two {
		width: 60%;
		text-align: center;
		margin: auto;
		padding-top: 30px;
		color: #919191;


		ul {
			display: flex;
			justify-content: space-between;
			gap: 30px;

			font-size: 15px;
		}

		.copyright {
			padding-top: 40px;
			padding-bottom: 80px;

			.pin {
				color: #bbb;
				font-size: 12px;
				font-family: score2;
				padding-top: 20px;
			}
		}
	}


}