@import url(../font/font.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

body {
	background-color: black;
	color: white;
	position: relative;
}

header {
	position: fixed;
	top: 0;
	background-color: black;
	width: 100%;
	color: white;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.headinner {
		width: 90%;
		margin: auto;

		nav {
			width: 60%;

			ul {
				display: flex;
				gap: 40px;
				justify-content: flex-end;
				align-items: center;
				font-family: scdream3;
				font-size: 13px;

				li.on {
					color: rgb(17, 172, 255);
					font-family: scdream9;

				}
			}
		}

		ul.menu {
			display: flex;
			gap: 15px;

			li {
				width: 40px;

				img {
					width: 100%;
				}
			}
		}
	}
}

section {
	margin: auto;
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(./image/milkyway.jpg);

	&.on .desc h3 {
		transform: translateY(0);
		opacity: 1;
		transition: .3s;
	}

	&.on .desc h4 {
		transform: translateY(0);
		opacity: 1;
		transition: .4s;
	}

	&.on .desc p {
		transform: translateY(0);
		opacity: 1;
		transition: .5s;
	}

	&.on .desc img {
		transform: translateY(0);
		opacity: 1;
		transition: .3s;
	}




	&#secth {
		display: block;
		background-image: url(./image/top-visual.jpg);

		.secth-head {
		
			.badge {
				position: absolute;
				top: 200px;
				left: 7%;
				font-size: 36px;
				font-family: scdream6;
				line-height: 1;
				border-width: 2px;
				background-color: white;
				color: #000;
				border: 1px solid #000;
				border-radius: 2em;
				padding: .25em .7em;
				z-index: 10;
			
			}

			h2 {
				
				font-size: 23em;
				font-family: scdream9;
				color: white;
				position: absolute;
				top: 120px;
				left: 10%;
				z-index: 5;
			}
		}

	}

	.desc {
		width: 35%;


		h3 {
			position: relative;
			transform: translateY(-200px);
			opacity: 0;
			padding-bottom: 40px;

			img {
				width: 100%;
				object-fit: cover;
			}
		}

		h4 {
			position: relative;
			transform: translateY(-200px);
			opacity: 0;
			font-family: scdream7;
			font-size: 17px;
			padding-bottom: 15px;
		}

		p {
			position: relative;
			transform: translateY(-200px);
			opacity: 0;
			font-family: scdream3;
			font-size: 13px;
			line-height: 2;
			padding-bottom: 50px;
		}
	}

	img {
		position: relative;
		transform: translateY(-200px);
		opacity: 0;
		border-radius: 10px;

	}

	video {

		object-fit: contain;
	}

}

/* mobile */
@media screen and (max-width: 600px) {
	header {
		align-items: center;
		justify-content: space-between;

		h1 {
			width: 100px;

			img {
				width: 100%;
			}
		}

		nav {
			display: none;
		}

		ul.menu {
			li {
				width: 20px;
				height: 20px;
			}
		}
	}

	section {
		display: flex;
		flex-direction: column;
		margin: auto;
		height: 100%;

		&#sect1,
		&#sect3 {
			display: flex;
			flex-direction: column;
		}


		&#sect2,
		&#sect4 {
			display: flex;
			flex-direction: column-reverse;
		}

		h3 {
			width: 150px;
			margin: auto;
			padding: 80px 0;
		}

		.desc {
			width: 80%;
			margin: auto;
			padding-bottom: 20px;
		}

		figure {
			width: 90%;
			margin: auto;

			video {
				width: 100%;
			}
		}
	}
}

/* tablet */
@media screen and (min-width: 601px) {
	header {

		width: 100%;
		align-items: center;
		justify-content: space-between;


		h1 {
			width: 150px;

			img {
				width: 100%;
			}
		}

		// .menu_container {
		// 	visibility: visible;
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: white;
		// 	color: black;
		// 	display: block;

		// 	nav {
		// 		display: block;
		// 	}

		// 	ul.menu {

		// 		li {
		// 			width: 25px;
		// 			height: 25px;

		// 			&:nth-child(1) {
		// 				background-image: url(./image/ic_instagram_sub.svg);
		// 			}

		// 			&:nth-child(2) {
		// 				background-image: url(./image/ic_youtube_sub.svg);
		// 			}

		// 			&:nth-child(3) {
		// 				background-image: url(./image/lang_black.svg);
		// 			}
		// 		}
		// 	}
		// }
	}

	section {
		display: flex;
		flex-direction: column;
		margin: auto;
		height: 100%;

		&#sect1,
		&#sect3 {
			display: flex;
			flex-direction: column;
		}

		h3 {
			width: 200px;
			margin: auto;
			padding: 80px 0;
		}

		&#sect2,
		&#sect4 {
			display: flex;
			flex-direction: column-reverse;
		}


		.desc {
			width: 80%;
			margin: auto;
			padding-bottom: 30px;
		}

		figure {
			width: 90%;
			margin: auto;

			video {
				width: 100%;
			}
		}
	}
}

/* pc */
@media screen and (min-width: 800px) {

	header {
		position: fixed;
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			img {
				width: 100%;
			}
		}

		.menu_container {
			display: flex;
			width: 100%;
			justify-content: flex-end;
			align-items: center;
			// background-color: black;
			position: relative;
			color: white;

			nav {
				width: 70%;
				display: block;
				padding-right: 20px;

				ul {
					display: flex;
					gap: 40px;
					justify-content: flex-end;
					align-items: center;
					font-family: scdream3;
					font-size: 13px;

					li.on {
						color: aqua;
						font-family: scdream9;
					}
				}
			}

			ul.menu {
				display: flex;
				gap: 15px;

				li {
					width: 30px;
					height: 30px;

					&:nth-child(1) {
						background-image: url(./image/ic_instagram.svg);
					}

					&:nth-child(2) {
						background-image: url(./image/ic_youtube.svg);
					}

					&:nth-child(3) {
						background-image: url(./image/lang.svg);
					}

					img {
						width: 100%;
					}
				}
			}
		}
	}

	section {
		margin: auto;
		padding: 40px;
		max-width: 1700px;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&#sect1,
		&#sect3 {
			display: flex;
			flex-direction: row;
		}


		&#sect2,
		&#sect4 {
			display: flex;
			flex-direction: row;
		}

		&#sect1,
		&#sect3 {
			.desc {
				padding-right: 30px;
			}
		}


		&#sect2,
		&#sect4 {
			.desc {
				padding-left: 30px;
			}
		}

		h3 {
			width: 250px;
		}

		.desc {
			width: 35%;

		}

		figure {

			width: 60%;

			video {
				width: 100%;
				object-fit: contain;
			}
		}
	}

}