@import url(../font/font.css);
@import url(../font/eng-font.css);
@media screen and (min-width: 769px) {
  .sect1 .menu {
    width: 40%;
  }
  .sect1 .menu ul {
    width: 100%;
  }
  .sect1 .menu ul li {
    font-size: 15px;
  }
  .sect1 .ball {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35vw;
    margin-left: -6%;
    margin-top: 0%;
  }
  .sect1 .comment {
    margin-top: 0%;
  }
  .sect1 .comment h3 {
    font-size: 35px;
  }
  .sect2 .slider .slide .num-title {
    width: 300px;
    right: 3%;
    top: 1%;
  }
  .sect2 .slider .slide .num-title .num {
    font-size: 150px;
  }
  .sect2 .slider .slide .num-title p {
    font-size: 16px;
  }
  .sect2 .slider .slide img {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.5s ease-in-out 0.3s;
    left: 50%;
    top: 50%;
    position: absolute;
  }
  .sect2 .slider .slide .d0-in {
    margin-left: -22%;
    margin-top: -20%;
    width: 47vw;
  }
  .sect2 .slider .slide .d1-in {
    margin-left: -43%;
    margin-top: -21%;
    width: 60vw;
  }
  .sect2 .slider .slide .d2-in {
    width: 55vw;
    margin-left: -28%;
    margin-top: -22%;
  }
  .sect2 .slider .slide .d3-in {
    width: 55vw;
    margin-left: -27%;
    margin-top: -19%;
  }
  .sect2 .slider .slide .d4-in {
    width: 55vw;
    margin-left: -28%;
    margin-top: -12%;
  }
  .sect2 .slider .slide .d5-in {
    width: 56vw;
    margin-left: -28%;
    margin-top: -8%;
  }
  .sect2 .slider .slide .d6-in {
    width: 52vw;
    margin-left: -16%;
    margin-top: -13%;
  }
  .sect2 .slider .slide .d7-in {
    width: 61vw;
    margin-left: -17%;
    margin-top: -14%;
  }
  .sect2 .slider .slide .d8-in {
    width: 58vw;
    margin-left: -31%;
    margin-top: -27%;
  }
  .sect2 .slider .slide .d9-in {
    width: 45vw;
    margin-left: 0%;
    margin-top: -17%;
  }
  .sect2 .slider .slide .d10-in {
    width: 65vw;
    margin-left: -46%;
    margin-top: -20%;
  }
  .sect2 .slider .slide.current {
    opacity: 1;
  }
  .sect2 .slider .slide.current img {
    transform: translateY(0px);
    opacity: 1;
  }
  .sect2 .slider .slide.current .content {
    /* Content of current slide */
    opacity: 1;
    transform: translateX(600px);
    /* all- opacity/transform with 0.3s delay*/
    transition: all 0.7s ease-in-out 0.3s;
  }
  .sect2 .slider .slide .content {
    position: absolute;
    bottom: 30px;
    left: -600px;
    width: 400px;
    color: black;
    padding: 35px;
    font-size: 14px;
    line-height: 1.8;
  }
  .sect2 .slider .slide .content b {
    font-family: scdream7;
  }
  .sect2 .buttons button#next {
    top: 50%;
    right: 20px;
  }
  .sect2 .buttons button#prev {
    top: 50%;
    left: 20px;
  }
  .sect3 {
    position: relative;
  }
  .sect3 .sect3-box {
    position: absolute;
    z-index: 100;
    left: 5%;
    top: 3%;
    width: 90%;
  }
  .sect3 .sect3-box .sect3-art1 {
    display: flex;
  }
  .sect3 .sect3-box .sect3-art1 .tab-title {
    width: 200px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-title p {
    font-family: Barlow-Medium;
    font-size: 13px;
    padding-bottom: 10px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-title h2 {
    font-family: Barlow-ExtraLight;
    font-size: 23px;
    color: black;
  }
  .sect3 .sect3-box .sect3-art1 .tab-title .tab-menu li {
    font-family: scdream5;
    margin-bottom: 25px;
    font-size: 14px;
    z-index: 200;
    position: relative;
    width: 105px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc {
    width: 80%;
    padding-left: 50px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .pro {
    font-family: scdream4;
    font-size: 12px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc h2 {
    font-family: scdream7;
    padding-top: 10px;
    font-size: 20px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .month {
    font-family: scdream3;
    font-size: 12px;
    margin-top: 20px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .month b {
    font-family: scdream6;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .exp {
    font-family: scdream4;
    font-size: 14px;
    line-height: 1.7;
    width: 550px;
    margin-top: 30px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-0art {
    margin-top: 80px;
    width: 550px;
    height: 350px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-0art a {
    width: 100%;
    height: 100%;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-0art a img {
    width: 100%;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-1art {
    position: relative;
    margin-top: 30px;
    width: 550px;
    height: 350px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-1art .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-1art .swiper-wrapper .slide {
    width: 100%;
    height: 100%;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-1art .swiper-wrapper .slide img {
    object-position: top;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art {
    margin-top: 80px;
    width: 700px;
    height: 400px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div img {
    width: 183px;
    height: 100%;
    transition: width 1s;
    border-radius: 10px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(25%) translateX(-50%);
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.hideLeft img {
    width: 100px;
    height: 100%;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(25%) translateX(-50%);
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.hideRight img {
    width: 100px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(30px) translateX(-50%);
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.prev img {
    width: 150px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(25%) translateX(-50%);
    opacity: 0.5;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.prevLeftSecond img {
    width: 120px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(30px) translateX(-50%);
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.next img {
    width: 150px;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(25%) translateX(-50%);
    opacity: 0.5;
  }
  .sect3 .sect3-box .sect3-art1 .tab-desc .sect3-2art #carousel div.nextRightSecond img {
    width: 120px;
  }
}