@charset "UTF-8";
@import url(../index.css);
@import url(../font/font.css);
html {
  width: 100%;
}
html body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 90vh;
  border: 1px solid #000;
  font-family: scdream4;
}
.container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  height: 100%;
  color: rgb(196, 140, 209);
}
.container ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container ul li:hover .img_box {
  clip-path: circle(50% at 50% 50%);
  filter: brightness(0.7);
}
.container ul li .img_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  transition: 0.35s;
}
.container ul li .img_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.35s;
}
.container ul li .img_box.img1::before {
  background-image: url(./img/T기획서header.png);
}
.container ul li .img_box.img2::before {
  background-image: url(./img/제주위트1.jpg);
}
.container ul li .img_box.img3::before {
  background-image: url(./img/알라딘b.png);
}
.container ul li .img_box.img4::before {
  background-image: url(./img/요시다b.png);
}
.container ul li.work01::before {
  background-image: url(./img/T기획서header.png);
}
.container ul li.work02::before {
  background-image: url(./img/제주위트1.jpg);
}
.container ul li.work03::before {
  background-image: url(./img/알라딘b.png);
}
.container ul li.work04::before {
  background-image: url(./img/요시다b.png);
}
.container ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.35s;
  filter: brightness(0.5);
}
.container ul li:hover .title {
  margin-top: 0;
  margin-bottom: 20px;
}
.container ul li:hover .detail {
  opacity: 1;
}
.container ul li:hover .inner {
  opacity: 1;
}
.container ul li .inner {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.container ul li .inner .title {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container ul li .inner .title p {
  font-size: 25px;
}
.container ul li .inner .title a.more {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}
.container ul li .inner .title span {
  font-size: 13px;
}
.container ul li .inner .detail {
  opacity: 0;
}