@import url(../reset.css);
@import url(../font/font.css);
.intro {
  display: flex;
}
.intro .left {
  background-image: url(./image/mxid111.jpg);
  background-position: center;
  background-size: cover;
  position: sticky;
  width: 50%;
  height: 100vh;
  top: 0;
}
.intro .right {
  background-color: black;
  color: white;
  width: 50%;
}
.intro .right .rightin {
  padding: 10%;
}
.intro .right .rightin .t_title {
  width: 100%;
}
.intro .right .rightin .t_title p {
  font-family: scdream4;
  font-size: 18px;
}
.intro .right .rightin .t_title h2 {
  position: relative;
  font-family: scdream8;
  font-size: 40px;
}
.intro .right .rightin .t_title h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  left: 0;
  bottom: -20%;
}
.intro .right .rightin .desc {
  margin-top: 50px;
  width: 80%;
}
.intro .right .rightin .desc .desc_in {
  padding: 30px 0;
  font-family: scdream5;
  font-size: 16px;
  line-height: 2;
}
.intro .right .rightin .desc p {
  font-family: scdream4;
  font-size: 14px;
  line-height: 2;
}
.intro .right .rightin img {
  padding-top: 50px;
}