body {
    background-color: black;
    color: white;
}

.wrap {
    max-width: 1420px;
    margin: auto;
}

.wrap::after {
    content: '';
    display: block;
    clear: both;
}


header h1 {
    background: url(./image/logo2.png) no-repeat center;
    background-size: contain;
    height:200px;
}

header h1 img {
    width: 150px;
    animation: wobble-hor-bottom .8s infinite;
}

@keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}





nav ul li {
    text-align: center;
    float: left;
    width: 33%;
    margin: 10px 0;
    background-image: url(./image/cursor\ fall-white.png);
    margin: 10px 0;
    height: 60px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

nav ul li:hover {
    background-position: center bottom;
    color: rgb(0, 253, 244);
    font-weight: bold;
}

.intro h2 {
    text-align: center;
    margin: 20px 0;
}

.list {
    text-align: center;
}

.intro .video {
    width: 100%;
}

.intro .video video {
    width: 100%;
}

.list ul li {
    float: left;
}

.list ul li figcaption {
    padding-top: 10px;
    height: 50px;
}

.list ul li figcaption:hover {
    color: rgb(0, 253, 244);
    font-weight: bold;
}

.list h3 {
    margin: 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

@media screen and (max-width:600px) {
    header {
        width: 100%;
        position: relative;
    }

    header h1 {
        background: none;
        height: 0;

    }

    header h1 img {
        position: absolute;
        left: 35%;
        top: 180%;
        width: 50%;
    }

    nav {
        transform: translateY(10px);
        width: 100%;
        text-align: center;
        margin: auto;
        height: 50px;
    }

    nav ul li {
        width: 33%;
    }

    main {
        width: 90%;
        margin: 200px auto;
    }

    .intro h2{
        width: 60%;
        margin: 20px auto;
    }


    .list ul li {
        width: 30%;
        margin-right: 10px;
    }

    .list ul li img {
        width: 100%;
    }




}

@media screen and (min-width:601px) {
    header {
        width: 25%;
        float: left;
        transform: translateY(10%);
    }

    header h1 {
        width: 80%;
        margin: auto;
        position: relative;
    }

    header h1 img {
        position: absolute;
        left: 20%;
        top: 100%;
    }


    nav {
        position: absolute;
        left: 20%;
        top: 170%;
    }

    nav ul li {
        width: 90%;
    }

    main {
        width: 72%;
        float: right;
    }

    .list ul li {
        width: 30%;
        margin-right: 10px;
    }







}

@media screen and (min-width:1200px) {

    header {
        width: 100%;
        float: none;
    }

    header h1 {
        width: 26%;
        float: left;
    }

    header h1 img {
        left: 15%;
        top: 110%;
        width: 60%;
    }

    nav {
        position: static;
        width: 73%;
        float: right;
        transform: translateY(15%);
    }

    nav ul li {
        width: 33%;
    }

    .list ul li {
        width: 19%;
        margin-right: 8px;
    }

    .intro::after {
        content: '';
        display: block;
        clear: both;
    }


    .intro .summary {
        width: 48%;
        float: left;
       
    }

    .intro .video {
        width: 48%;
        float: right;
    }


}