@import url(../../../font/font.css);
@import url(../../../reset.css);
h2 {
  font-size: 40px;
  font-family: scdream3;
  font-style: normal;
  color: #590385;
}

h3 {
  font-size: 30px;
  font-family: scdream2;
  font-style: normal;
  color: #8f03db;
}

.progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 3px;
  background-color: #75fd07;
  z-index: 10;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(./app-image/1back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header p.top-p {
  position: absolute;
  right: 3%;
  top: 3%;
  font-family: scdream3;
  font-size: 13px;
  color: white;
  text-align: right;
}
header p.top-p b {
  font-family: scdream8;
}
header .head_text {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
}
header .head_text .myt {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 30%;
}
header .head_text .head_title {
  color: white;
  width: 30%;
  margin-top: 100px;
}
header .head_text .head_title h4 {
  color: #8d76ff;
  font-family: scdream9;
  font-size: 20px;
  padding-bottom: 10px;
}
header .head_text .head_title h5 {
  font-family: scdream1;
  font-size: 30px;
  padding-bottom: 10px;
}
header .head_text .head_title h5 b {
  font-family: scdream6;
  font-size: 35px;
}
header .head_text .head_desc {
  padding-top: 200px;
}
header .head_text .head_desc p {
  width: 50%;
  color: white;
  font-family: scdream2;
  font-size: 12px;
  line-height: 2;
  padding-bottom: 20px;
}
header .head_text .head_desc p b {
  color: #02fa82;
  font-family: scdream9;
}
header .head_text .head_desc p strong {
  color: #02fa82;
  font-family: scdream6;
}

main {
  width: 100%;
  background-image: linear-gradient(to right bottom, #b9b5ff, #a2bfff, #8ec8ff, #81cffe, #7dd5f5, #7cd5f7, #7cd6f8, #7bd6fa, #83d0ff, #99c7ff, #b8bbff, #d8aeff);
}
main .main_back {
  margin: auto;
  padding: 40px;
  width: 90%;
}
main .main_back h5 {
  color: #3617CE;
  font-family: scdream9;
  font-size: 35px;
  position: relative;
  padding: 20px;
}
main .main_back h5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #3617CE;
  left: 0;
  bottom: -10px;
}
main .main_back .sect1 {
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 80px;
  border-radius: 20px;
}
main .main_back .sect1 .seserch {
  width: 60%;
  margin-top: 50px;
  margin-left: 20%;
}
main .main_back .sect1 table {
  margin: 80px auto;
  width: 100%;
  border-collapse: collapse;
}
main .main_back .sect1 table thead tr {
  margin-bottom: 20px;
}
main .main_back .sect1 table thead tr th {
  font-family: scdream8;
  color: #3617CE;
  font-size: 20px;
  padding-bottom: 15px;
  text-align: center;
}
main .main_back .sect1 table td {
  color: #6E059F;
  font-family: scdream5;
  border-bottom: 1px dotted #3617CE;
  padding: 10px;
  font-size: 17px;
  text-align: center;
}
main .main_back .sect1 .logos {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-left: 23%;
  margin-bottom: 50px;
}
main .main_back .sect1 .logos li {
  width: 10%;
  height: 30px;
}
main .main_back .sect1 .logos li img {
  width: 100%;
  border-radius: 10px;
}
main .main_back .sect1 .desc {
  padding-top: 50px;
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: space-between;
}
main .main_back .sect1 .desc h3 {
  color: #5e0289;
  font-family: scdream6;
}
main .main_back .sect1 .desc li {
  width: 26%;
  background-color: white;
  border: 1px solid #5e0289;
  border-radius: 10px;
  height: 290px;
}
main .main_back .sect1 .desc li p {
  padding: 20px;
  font-family: scdream4;
  line-height: 2;
}
main .main_back .sect1 .more-p {
  width: 85%;
  margin-top: 30px;
  padding: 20px;
  font-family: scdream4;
  line-height: 2;
  color: #038B6A;
  margin-left: 12%;
}
main .main_back .sect2 {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 20px;
}
main .main_back .sect2 .chart {
  padding-top: 50px;
}
main .main_back .sect2 .chart ul {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
main .main_back .sect2 .chart ul li {
  width: 30%;
  text-align: center;
  position: relative;
}
main .main_back .sect2 .chart ul li:nth-child(1) img {
  width: 110px;
}
main .main_back .sect2 .chart ul li:nth-child(3) img {
  width: 110px;
}
main .main_back .sect2 .chart ul li::after {
  content: "";
  position: absolute;
  width: 230px;
  height: 230px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(162, 255, 240, 0.7);
  z-index: 0;
}
main .main_back .sect2 .chart ul li img {
  width: 130px;
  position: relative;
  top: -15px;
  z-index: 1;
}
main .main_back .sect2 .chart ul li h4 {
  font-family: scdream8;
  padding: 10px 0;
  color: #5e0289;
  position: relative;
  z-index: 1;
}
main .main_back .sect2 .chart ul li p {
  font-family: scdream4;
  z-index: 5;
  width: 70%;
  margin: auto;
  position: relative;
  z-index: 1;
}
main .main_back .sect2 .chart .more-p {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  font-family: scdream3;
  line-height: 2;
}
main .main_back .sect2 .chart .more-p strong {
  color: #7b02b3;
  font-family: scdream9;
}
main .main_back .sect2 .chart .more-p b {
  font-family: scdream8;
}
main .main_back .sect2 .desc {
  padding-top: 50px;
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: space-between;
}
main .main_back .sect2 .desc h3 {
  color: #5e0289;
  font-family: scdream6;
}
main .main_back .sect2 .desc li {
  background-color: white;
  border: 1px solid #038B6A;
  border-radius: 50%;
  height: 290px;
  width: 290px;
  text-align: center;
}
main .main_back .sect2 .desc li h4 {
  font-family: scdream8;
  padding: 10px 0;
  color: #038B6A;
  z-index: 1;
}
main .main_back .sect2 .desc li p {
  padding: 20px;
  font-family: scdream4;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  header .head_text {
    width: 90%;
    margin: auto;
    height: 100%;
  }
  header .head_text .head_title {
    width: 100%;
    top: 10%;
    margin-top: 0;
  }
  header .head_text .myt {
    top: 20%;
    left: 0;
    width: 140px;
  }
  header .head_text .head_desc {
    padding-top: 300px;
  }
  header .head_text .head_desc p {
    width: 90%;
    bottom: 0;
    line-height: 1.5;
  }
  main {
    width: 100%;
  }
  main .main_back {
    margin: auto;
    padding: 20px;
    width: 98%;
  }
  main .main_back h5 {
    width: 100%;
    font-size: 25px;
    padding-bottom: 10px;
  }
  main .main_back h5::after {
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0px;
  }
  main .main_back .sect1 {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  main .main_back .sect1 .seserch {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }
  main .main_back .sect1 table {
    margin: 30px auto;
    width: 100%;
    border-collapse: collapse;
  }
  main .main_back .sect1 table thead tr {
    margin-bottom: 20px;
  }
  main .main_back .sect1 table thead tr th {
    font-family: scdream8;
    color: #3617CE;
    font-size: 9px;
    padding-bottom: 8px;
    text-align: center;
  }
  main .main_back .sect1 table td {
    color: #6E059F;
    font-family: scdream5;
    border-bottom: 1px dotted #3617CE;
    padding: 10px;
    font-size: 10px;
    text-align: center;
  }
  main .main_back .sect1 table td img {
    width: 20px;
  }
  main .main_back .sect1 .logos {
    width: 78%;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    margin-bottom: 10px;
    padding-right: 13%;
  }
  main .main_back .sect1 .logos li {
    width: 10%;
    height: 30px;
  }
  main .main_back .sect1 .logos li img {
    width: 100%;
    border-radius: 10px;
  }
  main .main_back .sect1 .desc {
    padding-top: 10px;
    width: 100%;
    display: flex;
    gap: 7px;
    justify-content: space-between;
  }
  main .main_back .sect1 .desc h3 {
    font-size: 12px;
    color: #5e0289;
    font-family: scdream6;
  }
  main .main_back .sect1 .desc li {
    width: 26%;
    background-color: white;
    border: 1px solid #5e0289;
    border-radius: 10px;
    height: 250px;
  }
  main .main_back .sect1 .desc li p {
    font-size: 11px;
    padding: 11px;
    font-family: scdream4;
    line-height: 1.52;
  }
  main .main_back .sect1 .more-p {
    width: 85%;
    margin-top: 10px;
    padding: 20px;
    font-family: scdream4;
    line-height: 1.8;
    color: #038B6A;
    margin-left: 12%;
    font-size: 15px;
  }
  main .main_back .sect2 {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  main .main_back .sect2 .chart {
    padding-top: 30px;
  }
  main .main_back .sect2 .chart ul {
    display: block;
    width: 100%;
  }
  main .main_back .sect2 .chart ul li {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
  }
  main .main_back .sect2 .chart ul li:nth-child(1) img {
    width: 70px;
  }
  main .main_back .sect2 .chart ul li:nth-child(3) img {
    width: 70px;
  }
  main .main_back .sect2 .chart ul li::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    left: 13%;
    border-radius: 50%;
    z-index: 0;
  }
  main .main_back .sect2 .chart ul li a {
    width: 35%;
  }
  main .main_back .sect2 .chart ul li a img {
    width: 80px;
    position: relative;
    top: -15px;
    z-index: 1;
  }
  main .main_back .sect2 .chart ul li a h4 {
    font-family: scdream8;
    padding: 10px 0;
    color: #5e0289;
    position: relative;
    z-index: 1;
    font-size: 13px;
    top: -10px;
  }
  main .main_back .sect2 .chart ul li p {
    font-family: scdream4;
    font-size: 13px;
    line-height: 1.8;
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 1;
    text-align: left;
  }
  main .main_back .sect2 .chart .more-p {
    padding-top: 25px;
    width: 80%;
    margin-left: 10%;
  }
  main .main_back .sect2 .desc {
    padding-top: 10px;
    width: 100%;
    display: flex;
    gap: 7px;
    justify-content: space-between;
  }
  main .main_back .sect2 .desc h3 {
    font-size: 12px;
    color: #5e0289;
    font-family: scdream6;
  }
  main .main_back .sect2 .desc li {
    width: 26%;
    background-color: white;
    border: 1px solid #5e0289;
    border-radius: 10px;
    height: 250px;
  }
  main .main_back .sect2 .desc li p {
    font-size: 11px;
    padding: 11px;
    font-family: scdream4;
    line-height: 1.52;
  }
}
@media screen and (min-width: 769px) {
  header .head_text .head_title {
    width: 40%;
  }
  header .head_text .myt {
    width: 200px;
  }
  header .head_text .head_desc {
    width: 90%;
  }
  header .head_text .head_desc p {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main .main_back {
    margin: auto;
    padding: 20px;
    width: 98%;
  }
  main .main_back h5 {
    font-family: scdream9;
    font-size: 30px;
    padding-bottom: 10px;
  }
  main .main_back .sect1 {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
  }
  main .main_back .sect1 .seserch {
    width: 70%;
    margin-top: 50px;
    margin-left: 15%;
  }
  main .main_back .sect1 table {
    margin: 50px auto;
    width: 90%;
  }
  main .main_back .sect1 table thead tr {
    margin-bottom: 20px;
  }
  main .main_back .sect1 table thead tr th {
    font-size: 15px;
    padding-bottom: 8px;
  }
  main .main_back .sect1 table td {
    padding: 10px;
    font-size: 13px;
  }
  main .main_back .sect1 table td img {
    width: 20px;
  }
  main .main_back .sect1 .logos {
    width: 85%;
    margin-left: 25%;
    margin-bottom: 50px;
    padding-right: 20%;
  }
  main .main_back .sect1 .logos li {
    width: 10%;
    height: 30px;
  }
  main .main_back .sect1 .logos li img {
    width: 100%;
  }
  main .main_back .sect1 .desc {
    padding-top: 10px;
    width: 90%;
    margin: auto;
    gap: 7px;
  }
  main .main_back .sect1 .desc h3 {
    font-size: 15px;
  }
  main .main_back .sect1 .desc li {
    width: 26%;
    border-radius: 10px;
    height: 260px;
  }
  main .main_back .sect1 .desc li p {
    font-size: 13px;
    padding: 11px;
    line-height: 1.8;
  }
  main .main_back .sect1 .more-p {
    width: 85%;
    margin-top: 10px;
    padding: 20px;
    line-height: 1.8;
    margin-left: 12%;
    font-size: 15px;
  }
  main .main_back .sect2 {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
  }
  main .main_back .sect2 .desc {
    padding-top: 10px;
    width: 90%;
    margin: auto;
    gap: 7px;
  }
  main .main_back .sect2 .desc h3 {
    font-size: 15px;
  }
  main .main_back .sect2 .desc li {
    width: 26%;
    border-radius: 10px;
    height: 260px;
  }
  main .main_back .sect2 .desc li p {
    font-size: 13px;
    padding: 11px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1350px) {
  header .head_text .head_title {
    margin-top: 30px;
  }
  header .head_text .myt {
    width: 26%;
  }
  header .head_text .head_desc {
    padding-top: 150px;
    width: 50%;
  }
  header .head_text .head_desc p {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main .main_back .sect1 {
    margin-top: 80px;
  }
  main .main_back .sect1 h2 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  main .main_back .sect1 h2::after {
    content: "";
    bottom: -5px;
  }
  main .main_back .sect1 .seserch {
    width: 70%;
    margin-top: 50px;
    margin-left: 15%;
  }
  main .main_back .sect1 table {
    margin: 50px auto;
    width: 90%;
    border-collapse: collapse;
  }
  main .main_back .sect1 table thead tr {
    margin-bottom: 20px;
  }
  main .main_back .sect1 table thead tr th {
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
  }
  main .main_back .sect1 table td {
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }
  main .main_back .sect1 table td img {
    width: 20px;
  }
  main .main_back .sect1 .logos {
    width: 80%;
    margin-left: 25%;
    margin-bottom: 70px;
    padding-right: 18%;
  }
  main .main_back .sect1 .logos li {
    width: 10%;
    height: 30px;
  }
  main .main_back .sect1 .logos li img {
    width: 100%;
    border-radius: 10px;
  }
  main .main_back .sect1 .desc {
    padding-top: 10px;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 7px;
    justify-content: space-between;
  }
  main .main_back .sect1 .desc h3 {
    font-size: 15px;
    color: #5e0289;
    font-family: scdream6;
  }
  main .main_back .sect1 .desc li {
    width: 26%;
    background-color: white;
    border: 1px solid #5e0289;
    border-radius: 10px;
    height: 200px;
  }
  main .main_back .sect1 .desc li p {
    font-size: 14px;
    padding: 11px;
    font-family: scdream4;
    line-height: 1.8;
  }
  main .main_back .sect1 .more-p {
    width: 85%;
    margin-top: 10px;
    padding: 20px;
    font-family: scdream4;
    line-height: 1.8;
    color: #038B6A;
    margin-left: 12%;
    font-size: 15px;
  }
}