@import url(../../../font/font.css);
@import url(../../../reset.css);
h2 {
  font-size: 40px;
  font-family: scdream3;
  font-style: normal;
  color: #590385;
}

h3 {
  font-size: 30px;
  font-family: scdream2;
  font-style: normal;
  color: #8f03db;
}

@media screen and (min-width: 769px) {
  header .head_text .head_title {
    width: 40%;
  }
  header .head_text .myt {
    width: 200px;
  }
  header .head_text .head_desc {
    width: 90%;
    padding-top: 250px;
  }
  header .head_text .head_desc p {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main .main_back h5 {
    padding-top: 80px;
    font-size: 30px;
    padding-bottom: 20px;
  }
  main .main_back .sect1 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
  }
  main .main_back .sect1 .seserch {
    width: 60%;
    margin-top: 90px;
  }
  main .main_back .sect1 table {
    margin: 90px auto;
    width: 90%;
  }
  main .main_back .sect1 table thead tr {
    margin-bottom: 20px;
  }
  main .main_back .sect1 table thead tr th {
    font-size: 17px;
    padding-bottom: 8px;
  }
  main .main_back .sect1 table td {
    padding: 10px;
    font-size: 14px;
  }
  main .main_back .sect1 table td img {
    width: 20px;
  }
  main .main_back .sect1 .reserch {
    padding-bottom: 100px;
  }
  main .main_back .sect1 .reserch .logo {
    text-align: center;
  }
  main .main_back .sect1 .reserch .logo img {
    width: 80px;
    border-radius: 10px;
  }
  main .main_back .sect1 .reserch h3 {
    font-size: 16px;
  }
  main .main_back .sect1 .reserch .li p {
    font-size: 13px;
    padding: 10px;
    font-family: scdream4;
    line-height: 1.7;
  }
  main .main_back .sect1 .reserch > div {
    padding: 10px;
  }
  main .main_back .sect1 .reserch .more-p {
    padding-top: 50px;
    font-size: 16px;
    padding-bottom: 50px;
  }
  main .main_back .sect2 .chart {
    padding-top: 80px;
  }
  main .main_back .sect2 .chart ul {
    padding-bottom: 80px;
  }
  main .main_back .sect2 .chart ul li {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  main .main_back .sect2 .chart .more-p {
    padding-top: 25px;
    padding-bottom: 120px;
    font-size: 17px;
  }
  main .main_back .sect2 .desc-plus {
    padding: 80px 0;
  }
  main .main_back .sect2 .desc-plus .desc {
    width: 90%;
    display: flex;
    margin-bottom: 50px;
  }
  main .main_back .sect2 .desc-plus .desc h3 {
    font-size: 18px;
    width: 15%;
    text-align: center;
    position: relative;
  }
  main .main_back .sect2 .desc-plus .desc h3::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 30px;
    width: 110%;
    height: 1px;
    background-color: #590385;
  }
  main .main_back .sect2 .desc-plus .desc ul {
    width: 85%;
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }
  main .main_back .sect2 .desc-plus .desc ul li {
    width: 250px;
    border-radius: 50%;
    height: 250px;
    text-align: center;
  }
  main .main_back .sect2 .desc-plus .desc ul li img {
    width: 60px;
    height: 60px;
    top: 20px;
  }
  main .main_back .sect2 .desc-plus .desc ul li h6 {
    font-size: 17px;
    top: 40px;
  }
  main .main_back .sect2 .desc-plus .desc ul li p {
    padding: 20px;
    font-size: 14px;
    top: 40px;
  }
  main .main_back .sect3 {
    padding: 40px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 150px;
  }
  main .main_back .sect3 .desc {
    width: 100%;
  }
  main .main_back .sect3 .desc ul {
    width: 95%;
    margin: auto;
  }
  main .main_back .sect3 .desc ul li {
    width: 42%;
  }
  main .main_back .sect4 {
    padding: 20px;
  }
  main .main_back .sect4 h4 {
    width: 100px;
    margin: auto;
    padding-top: 80px;
  }
  main .main_back .sect4 ul.main {
    padding-bottom: 130px;
  }
  .sect5 .mockup1 {
    width: 100%;
  }
}