@import url(../../../font/font.css);
@import url(../../../reset.css);
h2 {
  font-size: 40px;
  font-family: scdream3;
  font-style: normal;
  color: #590385;
}

h3 {
  font-size: 30px;
  font-family: scdream2;
  font-style: normal;
  color: #8f03db;
}

@media screen and (min-width: 769px) {
  header .head_text .head_title {
    width: 40%;
  }
  header .head_text .myt {
    width: 200px;
  }
  header .head_text .head_desc {
    width: 90%;
  }
  header .head_text .head_desc p {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main .main_back {
    margin: auto;
    padding: 20px;
    width: 98%;
  }
  main .main_back h5 {
    font-family: scdream9;
    font-size: 30px;
    padding-bottom: 10px;
  }
  main .main_back .sect1 {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
  }
  main .main_back .sect1 .seserch {
    width: 70%;
    margin-top: 50px;
    margin-left: 15%;
  }
  main .main_back .sect1 table {
    margin: 50px auto;
    width: 90%;
  }
  main .main_back .sect1 table thead tr {
    margin-bottom: 20px;
  }
  main .main_back .sect1 table thead tr th {
    font-size: 17px;
    padding-bottom: 8px;
  }
  main .main_back .sect1 table td {
    padding: 10px;
    font-size: 14px;
  }
  main .main_back .sect1 table td img {
    width: 20px;
  }
  main .main_back .sect1 .logos {
    width: 85%;
    margin-left: 25%;
    margin-bottom: 50px;
    padding-right: 20%;
  }
  main .main_back .sect1 .logos li {
    width: 10%;
    height: 30px;
  }
  main .main_back .sect1 .logos li img {
    width: 100%;
  }
  main .main_back .sect1 .desc {
    padding-top: 10px;
    width: 90%;
    margin: auto;
    gap: 7px;
  }
  main .main_back .sect1 .desc h3 {
    font-size: 17px;
  }
  main .main_back .sect1 .desc li {
    width: 26%;
    border-radius: 10px;
    height: 230px;
  }
  main .main_back .sect1 .desc li p {
    font-size: 14px;
    padding: 11px;
    line-height: 1.8;
  }
  main .main_back .sect1 .more-p {
    width: 85%;
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 40px;
    line-height: 1.8;
    margin-left: 12%;
    font-size: 15px;
  }
  main .main_back .sect2 {
    margin-top: 70px;
    padding: 20px;
    border-radius: 10px;
  }
  main .main_back .sect2 .desc {
    padding-top: 50px;
    width: 90%;
    display: flex;
  }
  main .main_back .sect2 .desc h3 {
    font-size: 20px;
    color: #5e0289;
    font-family: scdream6;
    width: 15%;
    text-align: center;
  }
  main .main_back .sect2 .desc ul {
    width: 85%;
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }
  main .main_back .sect2 .desc ul li {
    width: 230px;
    background-color: white;
    border: 1px solid #038B6A;
    border-radius: 50%;
    height: 230px;
    text-align: center;
  }
  main .main_back .sect2 .desc ul li img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
  }
  main .main_back .sect2 .desc ul li h6 {
    color: #038B6A;
    font-family: scdream7;
    font-size: 17px;
    position: relative;
    top: 40px;
  }
  main .main_back .sect2 .desc ul li p {
    padding: 20px;
    font-family: scdream4;
    line-height: 1.5;
    font-size: 14px;
    position: relative;
    top: 30px;
  }
  main .main_back .sect3 {
    margin-top: 70px;
    padding: 20px;
    border-radius: 10px;
  }
  main .main_back .sect4 {
    margin-top: 70px;
    padding: 20px;
    border-radius: 10px;
  }
  .sect5 .mockup1 {
    width: 100%;
  }
}