@import url(../../../font/font.css);
@import url(../../../reset.css);
h2 {
  font-size: 40px;
  font-family: scdream3;
  font-style: normal;
  color: #590385;
}

h3 {
  font-size: 30px;
  font-family: scdream2;
  font-style: normal;
  color: #8f03db;
}

@media screen and (min-width: 1350px) {
  header .head_text .myt {
    width: 26%;
    top: 10%;
  }
  header .head_text .head_desc {
    width: 50%;
  }
  header .head_text .head_desc p {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main .main_back .sect1 h2 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  main .main_back .sect1 h2::after {
    content: "";
    bottom: -5px;
  }
  main .main_back .sect1 .seserch {
    width: 50%;
    margin-top: 90px;
    max-width: 800px;
    margin-left: 30%;
  }
  main .main_back .sect1 table {
    margin: 100px auto;
  }
  main .main_back .sect1 table thead tr {
    margin-bottom: 20px;
  }
  main .main_back .sect1 table thead tr th {
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
  }
  main .main_back .sect1 table td {
    padding: 10px;
    font-size: 17px;
    text-align: center;
  }
  main .main_back .sect1 table td img {
    width: 20px;
  }
  main .main_back .sect1 .logos {
    width: 80%;
    margin-left: 25%;
    margin-bottom: 70px;
    padding-right: 18%;
  }
  main .main_back .sect1 .logos li {
    width: 10%;
    height: 30px;
  }
  main .main_back .sect1 .logos li img {
    width: 100%;
    border-radius: 10px;
  }
  main .main_back .sect1 .desc {
    padding-top: 10px;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 7px;
    justify-content: space-between;
  }
  main .main_back .sect1 .desc h3 {
    font-size: 17px;
    font-family: scdream6;
  }
  main .main_back .sect1 .desc li {
    width: 26%;
    border-radius: 10px;
    height: 200px;
  }
  main .main_back .sect1 .desc li p {
    font-size: 14px;
    padding: 11px;
    font-family: scdream4;
    line-height: 1.8;
  }
  main .main_back .sect1 .more-p {
    width: 80%;
    margin-top: 10px;
    padding: 20px;
    font-family: scdream4;
    line-height: 1.8;
    color: #038B6A;
    margin-left: 15%;
    font-size: 15px;
  }
  main .main_back .sect2 .chart {
    max-width: 1350px;
    margin: auto;
  }
  main .main_back .sect2 .desc-plus {
    max-width: 1350px;
    margin: auto;
  }
  main .main_back .sect2 .desc-plus .desc h3::before {
    content: "";
    position: absolute;
    left: -100px;
    top: 30px;
    width: 125%;
    height: 1px;
    background-color: #590385;
  }
  main .main_back .sect3 {
    margin: auto;
  }
  main .main_back .sect3 .desc ul {
    max-width: 1350px;
  }
  main .main_back .sect3 .desc ul li {
    width: 45%;
  }
}