@import url(./font/font.css);
@import url(./font/eng-font.css);
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
section#book {
  position: relative;
  contain: paint;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#e6eefa, #bdc7e2);
  background-repeat: no-repeat;
}
section#book .main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#book .main .book-lf {
  width: 50%;
  position: relative;
  height: 100vh;
  align-self: start;
}
section#book .main .book-lf .container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#book .main .book-lf .container .stiky-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
  gap: 3rem;
}
section#book .main .book-lf .container .stiky-wrap .components {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
section#book .main .book-lf .container .stiky-wrap .components .circle {
  position: relative;
  width: 19rem;
  height: 100%;
  justify-content: center;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}
section#book .main .book-lf .container .stiky-wrap .components .circle .circle-in {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  font-family: Barlow-Medium;
  color: #1d57a3;
  font-size: 18px;
}
section#book .main .book-lf .container .stiky-wrap .components .circle .circle-in:hover {
  color: #5b0eeb;
  transition: color 0.35s ease;
}
section#book .main .book-lf .container .stiky-wrap .components .circle__back-1, section#book .main .book-lf .container .stiky-wrap .components .circle__back-2 {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100;
}
section#book .main .book-lf .container .stiky-wrap .components .circle__back-1 {
  box-shadow: 0.4rem 0.4rem 0.8rem #c8d0e7, -0.4rem -0.4rem 0.8rem #fff;
  background: linear-gradient(to bottom right, #c8d0e7 0%, #fff 100%);
  animation: waves 4s linear infinite;
}
section#book .main .book-lf .container .stiky-wrap .components .circle__back-2 {
  box-shadow: 0.4rem 0.4rem 0.8rem #c8d0e7, -0.4rem -0.4rem 0.8rem #fff;
  animation: waves 4s linear 2s infinite;
}
section#book .main .book-lf .container .stiky-wrap #book-list-box {
  position: absolute;
  height: 450px;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  width: 100%;
}
section#book .main .book-lf .container .stiky-wrap #book-list-box .job-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  margin: 20px auto;
}
section#book .main .book-lf .container .stiky-wrap #book-list-box .job-list.left {
  text-align: right;
  padding-right: 40%;
}
section#book .main .book-lf .container .stiky-wrap #book-list-box .job-list.left::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #85b6f5;
  border: 3px solid #fff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 41%;
  z-index: 200;
}
section#book .main .book-lf .container .stiky-wrap #book-list-box .job-list.right {
  text-align: left;
  padding-left: 40%;
}
section#book .main .book-lf .container .stiky-wrap #book-list-box .job-list.right::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #85b6f5;
  border: 3px solid #fff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 58%;
  z-index: 10;
}
section#book .main .book-lf .container .stiky-wrap #book-list-box .job-list .num {
  position: relative;
  font-family: Dosis-ExtraLight;
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}
section#book .main .book-lf .container .stiky-wrap #book-list-box .job-list .job {
  font-family: scdream6;
  font-size: 12px;
  padding-bottom: 5px;
}
section#book .main .book-lf .container .stiky-wrap #book-list-box .job-list .job-desc {
  font-family: scdream5;
  font-size: 12px;
  padding-bottom: 10px;
}
section#book .main .book-lf .c-line {
  position: absolute;
  top: 35%;
  left: 50%;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #1d57a3;
}
section#book .main .book-lf .c-line::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -2px;
  width: 5px;
  height: 5px;
  background-color: #1d57a3;
  border-radius: 50%;
}
section#book .main article {
  width: 40%;
  display: flex;
  justify-content: center;
}
section#book .main article .splide {
  width: 100%;
}
section#book .main article .splide .splide__track {
  width: 100%;
}
section#book .main article .splide .splide__track .splide__list {
  width: 100%;
}
section#book .main article .splide .splide__track .splide__list li {
  margin: 30px;
  position: relative;
}
section#book .main article .splide .splide__track .splide__list li:hover .book-desc {
  opacity: 1;
}
section#book .main article .splide .splide__track .splide__list li img {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
section#book .main article .splide .splide__track .splide__list li .book-desc {
  opacity: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}
section#book .main article .splide .splide__track .splide__list li .book-desc .book-contents {
  margin-top: 70px;
  font-family: scdream4;
  line-height: 1.7;
  font-size: 13px;
  color: #1d57a3;
}
section#book .main article .splide .splide__track .splide__list li .book-desc .book-contents b {
  font-family: scdream6;
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}