@import url(../reset.css);
@import url(../font/font.css);
main {
  width: 100%;
  height: 100vh;
}
main .hslide_container {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
main .hslide_container .hslide_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  top: 0;
}
main .hslide_container .hslide_wrap .hslide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
main .hslide_container .hslide_wrap .hslide.hslide1 {
  background-image: url(./image/basquiat1.jpg);
}
main .hslide_container .hslide_wrap .hslide.hslide2 {
  background-image: url(./image/basquiat2.jpg);
}
main .hslide_container .hslide_wrap .hslide.hslide3 {
  background-image: url(./image/basquiat3.jpg);
}
main .vslide_container {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
main .vslide_container .vslide_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
main .vslide_container .vslide_wrap .vslide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
main .vslide_container .vslide_wrap .vslide.vslide1 {
  background-image: url(./image/basquiat4.jpg);
}
main .vslide_container .vslide_wrap .vslide.vslide2 {
  background-image: url(./image/basquiat5.jpg);
}
main .vslide_container .vslide_wrap .vslide.vslide3 {
  background-image: url(./image/basquiat6.jpg);
}
main a.arrow {
  position: absolute;
  bottom: 5%;
  width: 30px;
  z-index: 40;
  font-family: Amaticr;
  font-size: 30px;
  display: flex;
  align-items: center;
}
main a.arrow p {
  padding: 15px;
}
main a.arrow p:hover {
  font-family: AmaticB;
  color: #D80101;
}
main a.arrow.prev {
  left: 5%;
}
main a.arrow.next {
  right: 10%;
}

@media screen and (max-width: 640px) {
  main .hslide_container,
  main .vslide_container {
    width: 100%;
    height: 50vh;
  }
}
@media screen and (min-width: 641px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  main .hslide_container,
  main .vslide_container {
    width: 50%;
  }
}