@import url(../../../font/font.css);
@import url(../../../reset.css);
h2 {
  font-size: 40px;
  font-family: scdream3;
  font-style: normal;
  color: #590385;
}

h3 {
  font-size: 30px;
  font-family: scdream2;
  font-style: normal;
  color: #8f03db;
}

@media screen and (min-width: 769px) {
  header .head_text .head_title {
    width: 30%;
  }
  header .head_text .myt {
    top: 10%;
    width: 60%;
  }
  header .head_text .head_desc {
    width: 90%;
    padding-top: 300px;
  }
  header .head_text .head_desc p {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main h5 {
    padding-top: 80px;
    font-size: 30px;
    padding-bottom: 20px;
  }
  main .sect1 {
    width: 100%;
    padding: 30px;
    margin-top: 50px;
  }
  main .sect1 .sect1-in {
    width: 100%;
  }
  main .sect1 .sect1-in ul {
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  main .sect1 .sect1-in ul li.as-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 60px 0;
    position: relative;
  }
  main .sect1 .sect1-in ul li.as-to .as {
    width: 45%;
    position: relative;
    padding: 20px;
    background-color: white;
  }
  main .sect1 .sect1-in ul li.as-to .as h6 {
    font-size: 18px;
    font-family: scdream7;
    color: #0A7DBE;
    padding-bottom: 20px;
  }
  main .sect1 .sect1-in ul li.as-to .as p {
    font-size: 14px;
    font-family: scdream4;
    line-height: 1.8;
  }
  main .sect1 .sect1-in ul li.as-to .as::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px;
    border-radius: 5px;
  }
  main .sect1 .sect1-in ul li.as-to .be {
    min-height: 100px;
    line-height: 2;
    font-size: 16px;
    width: 45%;
  }
  main .sect1 .sect1-in ul li.as-to::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 45%;
    right: 45%;
    height: 1px;
    background-color: #0A7DBE;
    transform: translateY(-50%);
    z-index: 0;
  }
  main .sect2 {
    width: 100%;
    height: 100%;
    background-color: #eee;
  }
  main .sect2 .reserch-back {
    width: 100%;
    max-width: 1350px;
  }
  main .sect2 .reserch-back .reserch {
    margin-top: 80px;
    width: 90%;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-template-rows: auto;
  }
  main .sect2 .reserch-back .reserch .logo {
    grid-column: span 1;
    position: relative;
    top: 30%;
  }
  main .sect2 .reserch-back .reserch .reserch-in {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
  }
  main .sect2 .reserch-back .reserch .reserch-in .re-desc {
    margin-right: 30px;
  }
  main .sect3 .chart {
    max-width: 1350px;
    margin: auto;
  }
  main .sect3 .desc-plus {
    max-width: 1350px;
    margin: auto;
  }
}
.sect6 {
  height: 230vh;
  padding-bottom: 200px;
}
.sect6 .art-desc .page2 {
  position: sticky;
  top: 100px;
  left: 70px;
  width: 300px;
  margin-right: 50px;
  z-index: 20;
}
.sect6 .art-desc .page2 h4 {
  font-family: scdream1;
  font-size: 60px;
}
.sect6 .art-desc .page2 h4 b {
  font-family: scdream1;
  font-size: 70px;
}
.sect6 .art-desc .page2 p {
  padding-top: 15px;
  font-size: 15px;
  line-height: 1.8;
}
.sect6 .art-desc .page-mockup ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sect6 .art-desc .page-mockup ul li {
  width: 45%;
  position: relative;
}
.sect6 .art-desc .page-mockup ul li:nth-child(1) p {
  left: 15px;
  bottom: -120px;
  width: 230px;
}
.sect6 .art-desc .page-mockup ul li:nth-child(2) p {
  left: 15px;
  bottom: -120px;
  width: 260px;
}
.sect6 .art-desc .page-mockup ul li p {
  font-size: 14px;
  padding-bottom: 20px;
}
.sect6 .art-desc .page-mockup ul li p::after {
  content: "";
  left: -15px;
  bottom: 0px;
  width: 120%;
  height: 1px;
  background-color: #022783;
  position: absolute;
}
.sect6 .art-desc .page-mockup ul li:nth-child(even) {
  transform: translateY(50%);
}
.sect6 .art-desc .page-mockup ul li img {
  width: 250px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sect6 .art-desc .page-mockup2 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sect6 .art-desc .page-mockup2 ul li {
  width: 45%;
  position: relative;
}
.sect6 .art-desc .page-mockup2 ul li:nth-child(1) p {
  left: 15px;
  bottom: -90px;
  width: 230px;
}
.sect6 .art-desc .page-mockup2 ul li:nth-child(2) p {
  left: 15px;
  bottom: -90px;
  width: 250px;
}
.sect6 .art-desc .page-mockup2 ul li p {
  font-size: 14px;
  padding-bottom: 20px;
}
.sect6 .art-desc .page-mockup2 ul li p::after {
  content: "";
  left: -15px;
  bottom: 0px;
  width: 120%;
  height: 1px;
  background-color: #022783;
  position: absolute;
}
.sect6 .art-desc .page-mockup2 ul li:nth-child(even) {
  transform: translateY(50%);
}
.sect6 .art-desc .page-mockup2 ul li img {
  width: 250px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sect7 {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
.sect7 #carousel {
  position: relative;
  height: 700px;
  top: 30%;
  overflow: hidden;
}
.sect7 #carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
.sect7 #carousel div img {
  width: 300px;
  height: 100%;
  transition: width 1s;
  border-radius: 10px;
}
.sect7 #carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
.sect7 #carousel div.hideLeft img {
  width: 170px;
  height: 100%;
}
.sect7 #carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
.sect7 #carousel div.hideRight img {
  width: 170px;
}
.sect7 #carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(100px) translateX(-50%);
}
.sect7 #carousel div.prev img {
  width: 200px;
}
.sect7 #carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.5;
}
.sect7 #carousel div.prevLeftSecond img {
  width: 170px;
}
.sect7 #carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}
.sect7 #carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(100px) translateX(-50%);
}
.sect7 #carousel div.next img {
  width: 200px;
}
.sect7 #carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.5;
}
.sect7 #carousel div.nextRightSecond img {
  width: 170px;
}