@import url(../../../font/font.css);
@import url(../../../reset.css);

$font-size-h2: 40px;
$font-size-h3: 30px;
$font-style: normal;
$font-family-h2: scdream3;
$font-family-h3: scdream2;


$main-color-400: #ddc3fa;
$main-color-500: #8f03db;
$main-color-600: #590385;

$sub-color-400: #b5f1fc;
$sub-color-500: #3617CE;
$sub-color-600: #011a5a;

$neutral-color-400: #adf8dd;
$neutral-color-500: #1ffdc6;
$neutral-color-600: #038B6A;

$height-50vh: 50vh;
$height-100vh: 100vh;

@mixin font-styles($size, $family) {
	font-size: $size;
	font-family: $family;
	font-style: $font-style;
}

h2 {
	@include font-styles($font-size-h2, $font-family-h2);
	color: $main-color-600;
}

h3 {
	@include font-styles($font-size-h3, $font-family-h3);
	color: $main-color-500;
}

// section {
// 	height: $height-100vh;
// }

// article {
// 	height: $height-50vh;
// }

@media screen and (min-width:769px) {
	header {
		.head_text {
			.head_title {
				width: 30%;
			}

			.myt {
				top: 10%;
				width: 60%;
			}

			.head_desc {
				width: 90%;
				padding-top: 300px;

				p {
					width: 100%;
				}
			}
		}
	}

	main {
		width: 100%;


		h5 {
			padding-top: 80px;
			font-size: 30px;
			padding-bottom: 20px;

		}

		.sect1 {
			width: 100%;
			padding: 30px;
			margin-top: 50px;

			.sect1-in {
				width: 100%;


				ul {
					height: 100%;
					width: 90%;
					margin: auto;
					margin-top: 100px;


					li.as-to {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						flex-wrap: wrap;
						margin: 60px 0;
						position: relative;

						.as {
							h6 {
								font-size: 18px;
								font-family: scdream7;
								color: #0A7DBE;
								padding-bottom: 20px;
							}

							p {
								font-size: 14px;
								font-family: scdream4;
								line-height: 1.8;
							}

							width: 45%;
							position: relative;
							padding: 20px;
							background-color: white;


							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								padding: 2px;
								border-radius: 5px;

							}
						}

						.be {
							min-height: 100px;
							line-height: 2;
							font-size: 16px;
							width: 45%;

						}

						&::after {
							content: '';
							position: absolute;
							top: 50%;
							left: 45%;
							right: 45%;
							height: 1px;
							background-color: #0A7DBE;
							transform: translateY(-50%);
							z-index: 0;
						}
					}
				}
			}
		}


		.sect2 {
			width: 100%;
			height: 100%;
			background-color: #eee;

			.reserch-back {
			
				width: 100%;
				max-width: 1350px;

				.reserch {
					margin-top: 80px;
					width: 90%;
					grid-template-columns: 200px repeat(2, 1fr);
					grid-template-rows: auto;

					.logo {
						grid-column: span 1;
						position: relative;

						top: 30%;
					}

					.reserch-in {
						display: grid;
						grid-template-columns: 1fr 1fr;
						grid-column: span 2;

						.re-desc {
							margin-right: 30px;
						}

					}

				}
			}
		}

		.sect3 {
			.chart {
				max-width: 1350px;
				margin: auto;
			}
			.desc-plus {
				max-width: 1350px;
				margin: auto;
			}
		}

		.sect5 {
			.sect5-in {
				h4 {
					img {
						width: 120px;
					}
				}
		
				ul.main {
					width: 100%;
					li.main-menu {
						
						&>a {
							font-size: 15px;
						}
					}
				}
			}

	}

}


.sect6 {
	height: 230vh;
	padding-bottom: 200px;

	.art-desc {




		.page2 {
			position: sticky;
			top: 100px;
			left: 70px;

			width: 300px;
			margin-right: 50px;
			z-index: 20;



			h4 {
				font-family: scdream1;
				font-size: 60px;

				b {
					font-family: scdream1;
					font-size: 70px;
				}
			}

			p {
				padding-top: 15px;

				font-size: 15px;
				line-height: 1.8;
			}

		}

		.page-mockup {



			ul {
				width: 100%;

				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				li {
					width: 45%;

					position: relative;

					&:nth-child(1) p {
						left: 15px;
						bottom: -120px;
						width: 230px;
					}

					&:nth-child(2) p {
						left: 15px;
						bottom: -120px;
						width: 260px;
					}

					p {

						font-size: 14px;

						padding-bottom: 20px;

						&::after {
							content: '';
							left: -15px;
							bottom: 0px;
							width: 120%;
							height: 1px;
							background-color: #022783;
							position: absolute;
						}
					}

					&:nth-child(even) {
						transform: translateY(50%);
					}

					img {
						width: 250px;
						border-radius: 10px;
						box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					}
				}
			}
		}

		.page-mockup2 {



			ul {
				width: 100%;

				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				li {
					width: 45%;

					position: relative;

					&:nth-child(1) p {
						left: 15px;
						bottom: -90px;
						width: 230px;
					}

					&:nth-child(2) p {
						left: 15px;
						bottom: -90px;
						width: 250px;
					}

					p {

						font-size: 14px;

						padding-bottom: 20px;

						&::after {
							content: '';
							left: -15px;
							bottom: 0px;
							width: 120%;
							height: 1px;
							background-color: #022783;
							position: absolute;
						}
					}

					&:nth-child(even) {
						transform: translateY(50%);
					}

					img {
						width: 250px;
						border-radius: 10px;
						box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					}
				}
			}
		}
	}
}

.sect7 {
	width: 100%;
	height: 100%;
	margin-bottom: 100px;

	#carousel {
		position: relative;
		height: 700px;
		top: 30%;

		overflow: hidden;

		div {
			position: absolute;
			transition: transform 1s, left 1s, opacity 1s, z-index 0s;
			opacity: 1;

			img {
				width: 300px;
				height: 100%;
				transition: width 1s;
				border-radius: 10px;
			}

			&.hideLeft {
				left: 0%;
				opacity: 0;
				transform: translateY(50%) translateX(-50%);

				img {
					width: 170px;
					height: 100%;
				}
			}

			&.hideRight {
				left: 100%;
				opacity: 0;
				transform: translateY(50%) translateX(-50%);

				img {
					width: 170px;
				}
			}

			&.prev {
				z-index: 5;
				left: 30%;
				transform: translateY(100px) translateX(-50%);

				img {
					width: 200px;
				}
			}

			&.prevLeftSecond {
				z-index: 4;
				left: 15%;
				transform: translateY(50%) translateX(-50%);
				opacity: .5;

				img {
					width: 170px;
				}
			}

			&.selected {
				z-index: 10;
				left: 50%;
				transform: translateX(-50%);
			}

			&.next {
				z-index: 5;
				left: 70%;
				transform: translateY(100px) translateX(-50%);

				img {
					width: 200px;
				}
			}

			&.nextRightSecond {
				z-index: 4;
				left: 85%;
				transform: translateY(50%) translateX(-50%);
				opacity: .5;

				img {
					width: 170px;
				}
			}
		}
	}

}