@import url(../reset.css);
@import url(../../../font/eng-font.css);
@import url(../../../font/font.css);
.progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 3px;
  background-color: #75fd07;
  z-index: 10;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(./symbol\ back-02\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header p.top-p {
  position: absolute;
  right: 3%;
  top: 3%;
  font-family: scdream3;
  font-size: 11px;
  color: white;
  text-align: right;
}
header p.top-p b {
  font-family: scdream8;
}
header .head-text {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 15%;
}
header .head-text .head-title {
  color: white;
  width: 70%;
  margin-top: 100px;
}
header .head-text .head-title h2 {
  color: white;
  font-family: scdream9;
  font-size: 80px;
  padding-bottom: 10px;
}
header .head-text .head-desc {
  padding-top: 100px;
}
header .head-text .head-desc p {
  border-top: 1px solid white;
  padding-top: 30px;
  width: 100%;
  color: white;
  font-family: scdream2;
  font-size: 13px;
  line-height: 2;
  padding-bottom: 20px;
}
header .head-text .head-desc p b {
  font-family: scdream6;
}

main h5 {
  color: #320163;
  font-family: EncodeSansCondensed-Black;
  font-size: 40px;
  position: relative;
  padding: 20px;
}
main h5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #320163;
  left: 0;
  bottom: -10px;
}
main section.sect1 {
  width: 100%;
  padding: 30px;
  margin-top: 100px;
  height: 100vh;
  margin-bottom: 100px;
}
main section.sect1 .sect1-in {
  width: 100%;
  height: 100vh;
}
main section.sect1 .sect1-in .chart {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 40px;
}
main section.sect1 .sect1-in .chart .passion {
  position: absolute;
  left: 20%;
  top: 10%;
  width: 350px;
  height: 350px;
  border: 1px solid #52006a;
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: transparent;
}
main section.sect1 .sect1-in .chart .passion li:nth-child(1) {
  font-family: scdream7;
  color: #52006a;
  font-size: 25px;
  position: absolute;
  right: 25%;
  top: 15%;
}
main section.sect1 .sect1-in .chart .passion li:nth-child(2) {
  font-family: scdream3;
  font-size: 30px;
  position: absolute;
  left: 15%;
  top: 25%;
}
main section.sect1 .sect1-in .chart .passion li:nth-child(3) {
  font-family: scdream1;
  font-size: 40px;
  position: absolute;
  left: 30%;
  top: 40%;
}
main section.sect1 .sect1-in .chart .passion li:nth-child(4) {
  font-family: scdream6;
  font-size: 30px;
  color: #52006a;
  position: absolute;
  left: 10%;
  top: 60%;
}
main section.sect1 .sect1-in .chart .passion li:nth-child(5) {
  font-family: scdream2;
  font-size: 35px;
  color: #52006a;
  position: absolute;
  right: 30%;
  bottom: 15%;
}
main section.sect1 .sect1-in .chart .japan {
  position: absolute;
  right: 25%;
  top: 25%;
  width: 250px;
  height: 250px;
  border: 1px solid #52006a;
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: transparent;
}
main section.sect1 .sect1-in .chart .japan li:nth-child(1) {
  font-family: scdream8;
  color: #52006a;
  font-size: 20px;
  position: absolute;
  left: 15%;
  top: 18%;
}
main section.sect1 .sect1-in .chart .japan li:nth-child(2) {
  font-family: scdream6;
  font-size: 26px;
  position: absolute;
  left: 23%;
  top: 40%;
}
main section.sect1 .sect1-in .chart .japan li:nth-child(3) {
  font-family: scdream1;
  font-size: 23px;
  position: absolute;
  right: 20%;
  top: 55%;
}
main section.sect1 .sect1-in .chart .japan li:nth-child(4) {
  font-family: scdream5;
  font-size: 30px;
  color: #52006a;
  position: absolute;
  left: 30%;
  bottom: 15%;
}
main section.sect1 .sect1-in .chart .hobby {
  position: absolute;
  left: 40%;
  top: 55%;
  width: 250px;
  height: 250px;
  border: 1px solid #52006a;
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: transparent;
}
main section.sect1 .sect1-in .chart .hobby li:nth-child(1) {
  font-family: scdream7;
  color: #52006a;
  font-size: 25px;
  position: absolute;
  right: 20%;
  top: 25%;
}
main section.sect1 .sect1-in .chart .hobby li:nth-child(2) {
  font-family: scdream3;
  font-size: 30px;
  position: absolute;
  left: 15%;
  top: 30%;
}
main section.sect1 .sect1-in .chart .hobby li:nth-child(3) {
  font-family: scdream1;
  font-size: 40px;
  position: absolute;
  right: 10%;
  top: 45%;
}
main section.sect1 .sect1-in .chart .hobby li:nth-child(4) {
  font-family: scdream6;
  font-size: 20px;
  color: #52006a;
  position: absolute;
  left: 12%;
  top: 55%;
}
main section.sect1 .sect1-in .chart .hobby li:nth-child(5) {
  font-family: scdream2;
  font-size: 25px;
  color: #52006a;
  position: absolute;
  right: 20%;
  bottom: 15%;
}
main section.sect1 .sect1-in .chart .chart-center {
  width: 100%;
  height: 100%;
}
main section.sect1 .sect1-in .chart .chart-center .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main section.sect1 .sect1-in .chart .chart-center p {
  color: white;
  font-family: Barlow-Black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: center;
}
main section.sect2 {
  width: 100%;
  padding: 30px;
  margin-top: 200px;
  height: 100vh;
}
main section.sect2 .circle {
  padding-top: 120px;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 60px;
  flex-wrap: wrap;
  text-align: center;
}
main section.sect2 .circle li {
  width: 30%;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.sect2 .circle li .circle-back {
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: #d2aefd;
  z-index: -1;
}
main section.sect2 .circle li:nth-child(2) img, main section.sect2 .circle li:nth-child(3) img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
}
main section.sect2 .circle li .circle-in {
  margin-top: 20px;
}
main section.sect2 .circle li .circle-in h2 {
  font-family: scdream8;
  font-size: 25px;
  margin: 20px 0 15px;
}
main section.sect2 .circle li .circle-in h6 {
  font-family: scdream5;
  font-size: 15px;
  margin: 15px 0 10px;
  color: #320163;
}
main section.sect2 .circle li .circle-in p {
  font-family: scdream2;
  font-size: 14px;
  line-height: 1.7;
}
main section.sect2 .circle li .circle-in p b {
  font-family: scdream6;
  color: #52006a;
}
main section.sect3 {
  width: 100%;
  padding: 30px;
  margin-top: 150px;
  height: 100vh;
}
main section.sect3 .sect3-in {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
}
main section.sect3 .sect3-in .con-desc {
  width: 80%;
  margin: 150px auto;
  font-family: scdream5;
  font-size: 16px;
  line-height: 1.8;
}
main section.sect3 .sect3-in .con-desc b {
  font-family: scdream7;
  color: #52006a;
}
main section.sect3 .sect3-in .con-detail {
  display: flex;
  position: relative;
  height: 400px;
}
main section.sect3 .sect3-in .con-detail img {
  position: absolute;
  width: 35%;
  left: 50%;
  transform: translateX(-50%);
}
main section.sect3 .sect3-in .con-detail li {
  font-family: scdream4;
  font-size: 15px;
  line-height: 1.7;
  position: absolute;
  text-align: left;
}
main section.sect3 .sect3-in .con-detail li:nth-child(1) {
  left: 10%;
  top: 10%;
  width: 20%;
}
main section.sect3 .sect3-in .con-detail li:nth-child(1)::after {
  content: "";
  position: absolute;
  right: -80px;
  width: 80px;
  height: 1px;
  background-color: #24fd03;
}
main section.sect3 .sect3-in .con-detail li:nth-child(2) {
  right: 5%;
  top: 30%;
  width: 20%;
}
main section.sect3 .sect3-in .con-detail li:nth-child(2)::after {
  content: "";
  position: absolute;
  left: -110px;
  width: 110px;
  height: 1px;
  background-color: #24fd03;
}
main section.sect3 .sect3-in .con-detail li:nth-child(3) {
  left: 10%;
  bottom: 25%;
  width: 20%;
}
main section.sect3 .sect3-in .con-detail li:nth-child(3)::after {
  content: "";
  position: absolute;
  right: -80px;
  width: 80px;
  height: 1px;
  background-color: #24fd03;
}