@import url('../font/font.css');
@import url('../font/eng-font.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body,
html {
	height: 100%;
}

:root {
	--color-bg1: rgb(247, 247, 247);
	--color-bg2: rgb(243, 243, 244);
	--color1: 245, 190, 232;
	--color2: 175, 100, 233;
	--color3: 135, 144, 241;
	--color4: 50, 160, 220;
	--color5: 165, 151, 248;
	--color-interactive: 185, 131, 255;
	--circle-size: 80%;
	--blending: hard-light;
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;

	background: transparent;
	border: none;
}

section {
	&.sect1 {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;

		background-image: url(./image/in-back.jpg);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		position: relative;
		contain: paint;

		.box {
			position: relative;

			.sphere {
				position: absolute;
				bottom: -80%;
				left: 60%;
				transform: translate(-50%, -80%);
				width: 200px;
				height: 200px;
				background-image: url(./image/ball13\ 1.png);
				background-size: cover;
				background-position: center;
				animation: up-and-down 5s ease-in-out infinite alternate;


			}

			.cy {
				position: relative;
				overflow: visible;
				height: 200px;
			}

			.sphare-shadow {
				position: absolute;
				bottom: -250px;
				left: 60%;
				transform: translateX(-50%);
				width: 320px;
				height: 90px;
				background: rgba(0, 0, 0, 0.1);
				border-radius: 50%;
				filter: blur(10px);
				z-index: 0;

				animation: big-shadow 5s ease-in-out infinite alternate;
			}


		}

		.symbol {
			position: absolute;
			left: 30px;
			top: 30px;
			width: 250px;

			img {
				width: 75px;
				height: 55px;
				transform-origin: center;
			}

			h4 {
				color: white;
				font-family: Barlow-ThinItalic;
				font-size: 25px;
				position: absolute;
				left: 20px;
				top: 12px;
			}

			p {
				padding-top: 20px;

				font-size: 15px;
				line-height: 1.4;
				font-family: EncodeSansCondensed-medium;


			}
		}

		.in-menu {
			position: absolute;
			right: 10%;
			top: 25px;
			z-index: 100;
			width: 30%;

			ul.nav {

				width: 100%;
				display: flex;
				justify-content: space-between;

				li {
					font-family: Barlow-Light;
					font-size: 16px;
					position: relative;

					z-index: 200;
					color: black;

					&:hover {
						color: black;
						transition: color 0.35s ease;
					}

					&:hover::after {
						content: '';
						width: 100%;
						position: absolute;
						height: 3px;
						background-color: black;
						left: 0;
						transition: .35s;
						bottom: -7px;
						animation-name: line;
						animation-duration: 0.5s;
						animation-fill-mode: forwards;
						z-index: 20;
						transition: width 0.35s ease, background-color 0.35s ease;
					}
				}
			}
		}


		.comment {
			opacity: 0;
			line-height: .8;
			position: absolute;
			left: 50%;
			top: 30%;
			margin-left: -3%;
			margin-top: 0%;

			h3 {
				font-family: EncodeSansCondensed-thin;
				font-size: 30px;
				line-height: 1.7;

				b {
					font-family: EncodeSansCondensed-Bold;
				}
			}
		}

	}

	&#work {
		transition: .35s;
		background-image: url(./image/sect1.1.png);
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		contain: paint;
		height: 100vh;

		.work__title {
			font-family: Barlow-Medium;
			font-size: 30px;
			line-height: 1.7;
			text-transform: uppercase;
			color: black;
			position: sticky;
			top: 40px;
			z-index: 10;
			margin-left: 50px;


			b {
				font-size: 18px;
				font-family: Barlow-Thin;
				display: block;
			}

		}

		.work__wrap {
			padding: 50px;
			display: flex;
			width: 200%;
			gap: 80px;
			margin-top: 480px;
			align-items: flex-start;

			.work__item {
				position: relative;
				min-width: 350px;
				width: 15vw;
				flex-shrink: 0;
				height: 270px;
				aspect-ratio: 1/1.2;

				padding: 25px;
				display: flex;
				flex-direction: column;
				margin-top: 0px;
				transition: .35s;


				&:hover {
					margin-top: -30px;
					background: rgba(255, 255, 255, 0.5);
					box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
					backdrop-filter: blur(4.5px);
					-webkit-backdrop-filter: blur(4.5px);
					border-radius: 10px;
				}


				&:hover a .num {
					font-family: Barlow-Italic;

				}


				&:hover a .content p b {
					font-family: scdream9;
				}

				.num {
					font-family: Barlow-ThinItalic;
					position: absolute;
					font-size: 45px;
					left: 25px;
					margin-bottom: 20px;

				}

				.line {

					position: absolute;
					width: 85%;
					height: 1px;
					background-color: #000;
					margin: 50px 25px;
					left: 0;
					top: 15%;
				}

				.content {

					font-family: scdream4;
					margin-top: 90px;

					color: black;

					font-size: 14px;
					line-height: 1.7;

					p {

						font-size: 13px;

						margin-top: 5px;

						b {
							font-family: scdream6;
						}
					}
				}
			}
		}


	}

	&#Project {
		position: relative;
		height: auto;

		contain: paint;

		* {
			word-break: keep-all;
		}




		.Project_wrap {
			position: relative;
			display: flex;

			width: 100%;
			height: 100%;


			// left_tit
			.txt {
				position: sticky;
				top: 70px;
				width: 50%;
				height: 100%;
				margin-left: 5%;
				margin-top: 50px;

				h2 {
					margin: 30px 0;
					font-size: 35px;
					font-family: Dosis-Bold;
					padding-bottom: 20px;

				}


				ul {
					margin-top: 30px;

					li {
						position: relative;
						font-size: 16px;

						transition: all 0.3s;
						margin-top: 30px;
						font-family: Dosis-Medium;

						margin-bottom: 60px;

						.tab-menu {
							margin-top: 15px;
							display: none;
							transition: all 0.3s;

							li {
								font-family: scdream5;
								margin-bottom: 15px;
								font-size: 13px;
								z-index: 200;
								position: relative;
								width: 110px;
								color: #5b04fc;
								transform: translateY(-50%);

								&:hover {
									color: #5b04fc;
									transition: color 0.35s ease;
									font-family: scdream7;
								}

								&:hover::after {
									content: '';
									width: 100px;
									position: absolute;
									height: 3px;
									background-color: #5b04fc;
									left: 0;
									transition: .35s;
									bottom: -5px;
									animation-name: line;
									animation-duration: 0.5s;
									animation-fill-mode: forwards;
									z-index: 100;
									transition: width 0.35s ease, background-color 0.35s ease;
								}


							}
						}

						&.on .tab-menu {
							display: block;
						}

						&.on {
							padding-left: 25px;
							color: #111;
							transition: all 0.3s;
							font-family: Dosis-Bold;
						}

						&.item01.on:after {
							content: "01.";
							position: absolute;

							top: 17%;
							left: 0px;
							transform: translateY(-50%);
						}

						&.item02.on:after {
							content: "02.";
							position: absolute;
							top: 9%;
							left: 0px;
							transform: translateY(-50%);
						}

						&.item03.on:after {
							content: "03.";
							position: absolute;
							top: 11%;
							left: 0px;
							transform: translateY(-50%);
						}
					}
				}
			}

			// right_cont
			.cont {
				width: 60%;
				padding-right: 60px;

				li {
					display: flex;
					flex-direction: column;
					justify-content: center;
					height: 100vh;
					margin-top: 60px;

					.txt_container {
						.pro {
							font-family: scdream5;
							font-size: 12px;
						}

						h2 {
							font-family: scdream7;
							padding-top: 10px;
							font-size: 20px;
						}

						.month {
							font-family: scdream4;
							font-size: 12px;
							margin-top: 20px;

							b {
								font-family: scdream7;
							}
						}

						.exp {
							font-family: scdream4;
							font-size: 14px;
							line-height: 1.7;
							width: 100%;
							margin-top: 30px;
						}

						.sect3-0art {
							margin-top: 50px;
							width: 100%;


							a {
								width: 100%;
								height: 100%;

								img {
									width: 100%;

								}
							}
						}

						.sect3-1art {
							position: relative;
							margin-top: 50px;
							width: 100%;


							.swiper-wrapper {
								width: 100%;
								height: 100%;

								.slide {
									width: 100%;
									height: 100%;

									img {
										object-position: top;
									}
								}
							}
						}

						.sect3-2art {
							margin-top: 80px;
							width: 100%;
							margin-bottom: 250px;

							#carousel {
								position: relative;
								height: 400px;

								overflow: hidden;

								div {
									position: absolute;
									transition: transform 1s, left 1s, opacity 1s, z-index 0s;
									opacity: 1;

									img {
										width: 183px;
										height: 100%;
										transition: width 1s;
										border-radius: 10px;
									}

									&.hideLeft {
										left: 0%;
										opacity: 0;
										transform: translateY(25%) translateX(-50%);

										img {
											width: 100px;
											height: 100%;
										}
									}

									&.hideRight {
										left: 100%;
										opacity: 0;
										transform: translateY(25%) translateX(-50%);

										img {
											width: 100px;
										}
									}

									&.prev {
										z-index: 5;
										left: 30%;
										transform: translateY(30px) translateX(-50%);

										img {
											width: 150px;
										}
									}

									&.prevLeftSecond {
										z-index: 4;
										left: 15%;
										transform: translateY(25%) translateX(-50%);
										opacity: .5;

										img {
											width: 120px;
										}
									}

									&.selected {
										z-index: 10;
										left: 50%;
										transform: translateX(-50%);
									}

									&.next {
										z-index: 5;
										left: 70%;
										transform: translateY(30px) translateX(-50%);

										img {
											width: 150px;
										}
									}

									&.nextRightSecond {
										z-index: 4;
										left: 85%;
										transform: translateY(25%) translateX(-50%);
										opacity: .5;

										img {
											width: 120px;
										}
									}
								}
							}

						}

						.img {
							width: 100%;
							height: 250px;
							overflow: hidden;

							&.cont01 img {
								transform: translate(-180px, 0px);
							}

							&.cont02 img {
								transform: translate(-135px, -235px);
							}

							&.cont03 img {
								transform: translate(-135px, -235px);
							}
						}

						h3 {
							margin-top: 30px;
						}

						p {
							margin-top: 30px;
							font-size: 15px;

						}

						a {
							position: relative;
							display: block;
							margin-top: 30px;
							width: max-content;
							transition: all 0.3s;
							font-size: 17px;
							font-weight: 700;
							color: #111;
						}

					}

				}
			}
		}

		.gradient-bg {
			width: 100vw;
			height: 320vh;
			position: absolute;
			overflow: hidden;
			background: linear-gradient(40deg, rgb(255, 255, 255), rgb(255, 255, 255));
			top: 0;
			left: 0;
			z-index: -1;

			.svgBlur {
				display: none;
			}

			.noiseBg {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				mix-blend-mode: soft-light;
				opacity: 0.3;
			}

			.gradients-container {
				filter: url(#goo) blur(40px);
				width: 100%;
				height: 100%;
			}

			.g1 {
				position: absolute;
				background: radial-gradient(circle at center, rgba(var(--color1), 0.5) 0, rgba(var(--color1), 0) 50%) no-repeat;
				mix-blend-mode: var(--blending);

				width: var(--circle-size);
				height: var(--circle-size);
				top: calc(50% - var(--circle-size) / 2);
				left: calc(50% - var(--circle-size) / 2);

				transform-origin: center center;
				animation: moveVertical 30s ease infinite;

				opacity: .7;
			}

			.g2 {
				position: absolute;
				background: radial-gradient(circle at center, rgba(var(--color2), 0.5) 0, rgba(var(--color2), 0) 50%) no-repeat;
				mix-blend-mode: var(--blending);

				width: var(--circle-size);
				height: var(--circle-size);
				top: calc(50% - var(--circle-size) / 2);
				left: calc(50% - var(--circle-size) / 2);

				transform-origin: calc(50% - 400px);
				animation: moveInCircle 20s reverse infinite;

				opacity: .7;
			}

			.g3 {
				position: absolute;
				background: radial-gradient(circle at center, rgba(var(--color3), 0.5) 0, rgba(var(--color3), 0) 50%) no-repeat;
				mix-blend-mode: var(--blending);

				width: var(--circle-size);
				height: var(--circle-size);
				top: calc(50% - var(--circle-size) / 2 + 200px);
				left: calc(50% - var(--circle-size) / 2 - 500px);

				transform-origin: calc(50% + 400px);
				animation: moveInCircle 40s linear infinite;

				opacity: .7;
			}

			.g4 {
				position: absolute;
				background: radial-gradient(circle at center, rgba(var(--color4), 0.5) 0, rgba(var(--color4), 0) 50%) no-repeat;
				mix-blend-mode: var(--blending);

				width: var(--circle-size);
				height: var(--circle-size);
				top: calc(50% - var(--circle-size) / 2);
				left: calc(50% - var(--circle-size) / 2);

				transform-origin: calc(50% - 200px);
				animation: moveHorizontal 40s ease infinite;

				opacity: 0.7;
			}

			.g5 {
				position: absolute;
				background: radial-gradient(circle at center, rgba(var(--color5), 0.5) 0, rgba(var(--color5), 0) 50%) no-repeat;
				mix-blend-mode: var(--blending);

				width: calc(var(--circle-size) * 2);
				height: calc(var(--circle-size) * 2);
				top: calc(50% - var(--circle-size));
				left: calc(50% - var(--circle-size));

				transform-origin: calc(50% - 800px) calc(50% + 200px);
				animation: moveInCircle 20s ease infinite;

				opacity: .7;
			}

			.interactive {
				position: absolute;
				background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.5) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
				mix-blend-mode: var(--blending);

				width: 100%;
				height: 100%;
				top: -50%;
				left: -50%;

				opacity: 0.7;
			}
		}
	}

	@keyframes moveInCircle {
		0% {
			transform: rotate(0deg);
		}

		50% {
			transform: rotate(180deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes moveVertical {
		0% {
			transform: translateY(-50%);
		}

		50% {
			transform: translateY(50%);
		}

		100% {
			transform: translateY(-50%);
		}
	}

	@keyframes moveHorizontal {
		0% {
			transform: translateX(-50%) translateY(-10%);
		}

		50% {
			transform: translateX(50%) translateY(10%);
		}

		100% {
			transform: translateX(-50%) translateY(-10%);
		}
	}


	&#My {
		position: relative;
		contain: paint;
		height: 200vh;
		width: 100%;
		background: linear-gradient(#e6eefa, #bdc7e2);

		background-repeat: no-repeat;

		.main {
			width: 100%;
			height: 200vh;
			display: flex;
			justify-content: center;
			align-items: center;

			.sect4-lf {
				width: 50%;
				position: relative;
				height: 200vh;
				align-self: start;

				.c-line {

					position: absolute;
					/* 기본 위치 */
					top: 0%;
					left: 63%;
					display: block;
					width: 1px;
					height: 300vh;
					background: #1d57a3;
					z-index: -10;
				}

				.container {
					position: relative;
					width: 90%;
					margin: auto;
					height: auto;
					display: flex;
					justify-content: center;
					align-items: center;

					flex-direction: column;

					.sticky-wrapper {
						position: relative;
						height: 200vh;
						width: 100%;

						.components {
							position: sticky;
							top: 5%;
							height: 300px;



							.circle {

								position: relative;

								width: 19rem;
								height: 100%;
								justify-self: left;
								border-radius: 1rem;
								display: grid;
								grid-template-rows: 1fr;

								align-items: center;

								.circle-in {

									position: absolute;
									left: 20%;
									top: 50%;
									transform: translate(-50%, -50%);
									z-index: 300;
									font-family: Barlow-Medium;
									color: #8679fa;
									font-size: 20px;

									&:hover {
										color: #5b0eeb;
										transition: color 0.35s ease;

									}


								}


								&__back-1,
								&__back-2 {
									grid-row: 1 / 2;
									grid-column: 1 / 2;
									width: 8rem;
									height: 8rem;
									border-radius: 50%;
									filter: blur(1px);
									z-index: 100;
								}

								&__back-1 {
									box-shadow: .4rem .4rem .8rem #c8d0e7,
										-.4rem -.4rem .8rem #fff;
									background: linear-gradient(to bottom right, #c8d0e7 0%, #fff 100%);
									animation: waves 4s linear infinite;

								}

								&__back-2 {
									box-shadow: .4rem .4rem .8rem #c8d0e7,
										-.4rem -.4rem .8rem #fff;
									animation: waves 4s linear 2s infinite;

								}
							}
						}
					}
				}

				#job-list-box {
					position: relative;
					min-height: 100vh;

					


					.job-list {
						position: absolute;
						right: 0%;
						width: 70%;
						margin: 30px auto;
				

						&.hidden {
							opacity: 0;
							transform: translateY(-50px);
							transition: opacity 0.5s ease, transform 0.5s ease;
						}

						li {

							width: 100%;
							padding: 20px;
							position: relative;

							opacity: 1;
							transform: translateY(0);
							transition: opacity 0.5s ease, transform 0.5s ease;

							&.hidden {
								opacity: 0;
								transform: translateY(-70px);
							}


							.num {
								position: relative;
								font-family: Dosis-ExtraLight;
								font-size: 30px;
								padding-bottom: 15px;
								padding-top: 20px;



							}


							.job {
								font-family: scdream7;
								font-size: 12px;
								padding-bottom: 10px;
							}

							.job-desc {
								font-family: scdream5;
								font-size: 12px;
							}



							&:nth-child(odd) {
								text-align: right;
								padding-right: 55%;


								&::after {
									content: '';
									position: absolute;
									width: 20px;
									height: 20px;
									background-color: #85b6f5;
									border: 3px solid #fff;
									border-radius: 50%;
									left: 47%;
									top: 41%;
									z-index: 200;

								}
							}

							&:nth-child(even) {
								text-align: left;
								padding-left: 55%;

								&::after {
									content: '';
									position: absolute;
									width: 20px;
									height: 20px;
									background-color: #85b6f5;
									border: 3px solid #fff;
									border-radius: 50%;
									right: 49%;
									top: 58%;
									z-index: 10;
								}
							}
						}
					}
				}

			}

			article {
			
				width: 40%;
				display: flex;
				justify-content: center;

				.splide {
					width: 50%;

					.splide__track {
						width: 100%;

						.splide__list {
							width: 100%;

							li {
								margin: 30px;
								position: relative;


								&:hover .book-desc {
									opacity: 1;
								}

								.book-desc {
									opacity: 0;
									left: 0%;
									top: 50%;
									transform: translateY(-50%);

									width: 90%;
									height: 100%;
									position: absolute;
									background: rgba(255, 255, 255, 0.5);
									padding: 20px;
									backdrop-filter: blur(4.5px);
									-webkit-backdrop-filter: blur(4.5px);

									.book-contents {
										margin-top: 70px;
										font-family: scdream4;
										line-height: 1.7;
										font-size: 13px;
										color: #1d57a3;

										b {
											font-family: scdream6;
										}
									}
								}

								img {
									width: 90%;
									box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
								}
							}
						}
					}
				}
			}
		}
	}



}


@keyframes up-and-down {
	0% {
		transform: translate(-50%, -80%);
	}

	100% {
		transform: translate(-50%, -40%);
	}
}

@keyframes big-shadow {
	0% {
		bottom: -290px;
		left: 100%;
		filter: blur(10px);
	}

	100% {
		bottom: -210px;
		left: 60%;
		scale: .7;

	}
}


@keyframes line {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}


@media(max-width: 500px) {
	.sect2 {
		.slide .content {
			bottom: -300px;
			left: 0;
			width: 100%;
		}

		.slide.current .content {
			transform: translateY(-300px);
		}
	}
}


@keyframes waves {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: scale(2);
		opacity: 0;
	}
}