@import url(../font/font.css);
@import url(../font/eng-font.css);
@media screen and (max-width: 768px) {
  section.sect1 .in-menu {
    position: absolute;
    right: 2%;
    top: 25px;
    z-index: 100;
    width: 50%;
  }
  section.sect1 .in-menu ul.nav {
    width: 100%;
  }
  section.sect1 .in-menu ul.nav li {
    font-family: EncodeSansCondensed-Regular;
    font-size: 15px;
    position: relative;
    z-index: 200;
    color: black;
  }
  section.sect1 .comment h3 {
    position: relative;
    margin: auto;
    padding: 1vw;
    width: 90%;
    font-family: EncodeSansCondensed-medium;
    font-size: 9vw;
    color: white;
    text-align: center;
    line-height: 1.1;
  }
  section.sect1 .comment h3:before {
    content: "";
    position: absolute;
    top: -20%;
    bottom: -30%;
    left: 50%;
    border-right: 1px solid #2600fe;
    transform: rotate(45deg);
    z-index: -1;
  }
  section#work .menu {
    width: 60%;
    right: 2%;
  }
  section#work .menu ul {
    width: 100%;
    gap: 20px;
  }
  section#work .menu ul li {
    font-size: 15px;
  }
  section#work .ball {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40vw;
    margin-left: -1%;
    margin-top: 11%;
  }
  section#work .comment {
    margin-top: 10%;
  }
  section#work .comment h3 {
    font-size: 30px;
  }
  section#Project {
    position: relative;
    height: auto;
    contain: paint;
  }
  section#Project * {
    word-break: keep-all;
  }
  section#Project .Project_wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }
  section#Project .Project_wrap .txt {
    position: sticky;
    top: 50px;
    width: 30%;
    height: 100%;
    margin-left: 5%;
  }
  section#Project .Project_wrap .txt h2 {
    margin: 30px 0;
    font-size: 35px;
    font-family: Dosis-Bold;
    padding-bottom: 20px;
  }
  section#Project .Project_wrap .txt ul {
    margin-top: 30px;
  }
  section#Project .Project_wrap .txt ul li {
    position: relative;
    font-size: 16px;
    transition: all 0.3s;
    margin-top: 30px;
    font-family: Barlow-Medium;
    margin-bottom: 30px;
  }
  section#Project .Project_wrap .txt ul li .tab-menu {
    margin-top: 15px;
    display: none;
    transition: all 0.3s;
  }
  section#Project .Project_wrap .txt ul li .tab-menu li {
    font-family: scdream5;
    margin-bottom: 15px;
    font-size: 13px;
    z-index: 200;
    position: relative;
    width: 110px;
    color: #5b04fc;
    transform: translateY(-50%);
  }
  section#Project .Project_wrap .txt ul li .tab-menu li:hover {
    color: #5b04fc;
    transition: color 0.35s ease;
    font-family: scdream7;
  }
  section#Project .Project_wrap .txt ul li .tab-menu li:hover::after {
    content: "";
    width: 100px;
    position: absolute;
    height: 3px;
    background-color: #5b04fc;
    left: 0;
    transition: 0.35s;
    bottom: -5px;
    animation-name: line;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 100;
    transition: width 0.35s ease, background-color 0.35s ease;
  }
  section#Project .Project_wrap .txt ul li.on .tab-menu {
    display: block;
  }
  section#Project .Project_wrap .txt ul li.on {
    padding-left: 25px;
    color: #111;
    transition: all 0.3s;
    font-family: Barlow-Bold;
  }
  section#Project .Project_wrap .txt ul li.item01.on:after {
    content: "01.";
    position: absolute;
    top: 17%;
    left: 0px;
    transform: translateY(-50%);
  }
  section#Project .Project_wrap .txt ul li.item02.on:after {
    content: "02.";
    position: absolute;
    top: 9%;
    left: 0px;
    transform: translateY(-50%);
  }
  section#Project .Project_wrap .txt ul li.item03.on:after {
    content: "03.";
    position: absolute;
    top: 11%;
    left: 0px;
    transform: translateY(-50%);
  }
  section#Project .Project_wrap .cont {
    width: 65%;
    padding-right: 10px;
    padding-left: 30px;
  }
  section#Project .Project_wrap .cont li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  section#Project .Project_wrap .cont li .txt_container .pro {
    font-family: scdream5;
    font-size: 12px;
  }
  section#Project .Project_wrap .cont li .txt_container h2 {
    font-family: scdream7;
    padding-top: 10px;
    font-size: 20px;
  }
  section#Project .Project_wrap .cont li .txt_container .month {
    font-family: scdream4;
    font-size: 12px;
    margin-top: 20px;
  }
  section#Project .Project_wrap .cont li .txt_container .month b {
    font-family: scdream7;
  }
  section#Project .Project_wrap .cont li .txt_container .exp {
    font-family: scdream4;
    font-size: 13px;
    line-height: 1.7;
    width: 100%;
    margin-top: 30px;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-0art {
    margin-top: 50px;
    width: 100%;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-0art a {
    width: 100%;
    height: 100%;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-0art a img {
    width: 100%;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-1art {
    position: relative;
    margin-top: 50px;
    width: 100%;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-1art .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-1art .swiper-wrapper .slide {
    width: 100%;
    height: 100%;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-1art .swiper-wrapper .slide img {
    object-position: top;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art {
    margin-top: 80px;
    width: 100%;
    margin-bottom: 250px;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div img {
    width: 183px;
    height: 100%;
    transition: width 1s;
    border-radius: 10px;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(25%) translateX(-50%);
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.hideLeft img {
    width: 100px;
    height: 100%;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(25%) translateX(-50%);
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.hideRight img {
    width: 100px;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(30px) translateX(-50%);
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.prev img {
    width: 150px;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(25%) translateX(-50%);
    opacity: 0.5;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.prevLeftSecond img {
    width: 120px;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(30px) translateX(-50%);
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.next img {
    width: 150px;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(25%) translateX(-50%);
    opacity: 0.5;
  }
  section#Project .Project_wrap .cont li .txt_container .sect3-2art #carousel div.nextRightSecond img {
    width: 120px;
  }
  section#Project .Project_wrap .cont li .txt_container h3 {
    margin-top: 30px;
  }
  section#Project .Project_wrap .cont li .txt_container p {
    margin-top: 30px;
    font-size: 15px;
  }
  section#Project .Project_wrap .cont li .txt_container a {
    position: relative;
    display: block;
    margin-top: 30px;
    width: max-content;
    transition: all 0.3s;
    font-size: 17px;
    font-weight: 700;
    color: #111;
  }
}