@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
/* regular-400, medium-500, semibold-600, bold-700 */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul,
li,
dl,
dt,
dd,
p,
span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#about {
  position: relative;
  height: auto;
  font-family: "Pretendard";
}
#about .about_wrap {
  position: relative;
  display: flex;
  margin: auto;
  width: 95%;
  height: auto;
}
#about .about_wrap h2 {
  margin: 10px 0;
  font-size: 22px;
}
#about .about_wrap .txt {
  position: sticky;
  top: 50px;
  width: 50%;
  height: 100%;
}
#about .about_wrap .txt .en {
  font-size: 13px;
  font-weight: 700;
}
#about .about_wrap .txt ul {
  margin-top: 30px;
}
#about .about_wrap .txt ul .item01.on:after {
  content: "01.";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
#about .about_wrap .txt ul .item02.on:after {
  content: "02.";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
#about .about_wrap .txt ul .item03.on:after {
  content: "03.";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
#about .about_wrap .txt ul li {
  margin-top: 20px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s;
}
#about .about_wrap .txt ul li.on {
  padding-left: 25px;
  color: #111;
  transition: all 0.3s;
}
#about .about_wrap .cont {
  width: 50%;
}
#about .about_wrap .cont li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
#about .about_wrap .cont li .img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
#about .about_wrap .cont li.cont01 .img img {
  transform: translate(-180px, 0px);
}
#about .about_wrap .cont li.cont02 .img img {
  transform: translate(-135px, -235px);
}
#about .about_wrap .cont li.cont03 .img img {
  transform: translate(-135px, -235px);
}
#about .about_wrap .cont li h3 {
  margin-top: 30px;
}
#about .about_wrap .cont li p {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.5);
}
#about .about_wrap .cont li a {
  position: relative;
  display: block;
  margin-top: 30px;
  width: max-content;
  transition: all 0.3s;
  font-size: 17px;
  font-weight: 700;
  color: #111;
}