@import url(../font/font.css);
@import url(../font/eng-font.css);

@media screen and (max-width:768px) {
	section {
		&#work {
			.menu {
				width: 60%;
				right: 2%;

				ul {
					width: 100%;
					gap: 20px;

					li {
						font-size: 15px;
					}
				}
			}

			.ball {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 40vw;
				margin-left: -1%;
				margin-top: 11%;
			}

			.comment {
				margin-top: 10%;

				h3 {
					font-size: 30px;
				}
			}
		}



		&#Project {
			position: relative;
			height: auto;

			contain: paint;

			* {
				word-break: keep-all;
			}




			.Project_wrap {
				position: relative;

				width: 100%;
				height: 100%;


				// left_tit
				.txt {

					position: sticky;
					top: 50px;
					width: 30%;
					height: 100%;
					margin-left: 5%;

					h2 {
						margin: 30px 0;
						font-size: 35px;
						font-family: Dosis-Bold;
						padding-bottom: 20px;

					}


					ul {
						margin-top: 30px;

						li {
							position: relative;
							font-size: 16px;

							transition: all 0.3s;
							margin-top: 30px;
							font-family: Barlow-Medium;

							margin-bottom: 30px;

							.tab-menu {
								margin-top: 15px;
								display: none;
								transition: all 0.3s;

								li {
									font-family: scdream5;
									margin-bottom: 15px;
									font-size: 13px;
									z-index: 200;
									position: relative;
									width: 110px;
									color: #5b04fc;
									transform: translateY(-50%);

									&:hover {
										color: #5b04fc;
										transition: color 0.35s ease;
										font-family: scdream7;
									}

									&:hover::after {
										content: '';
										width: 100px;
										position: absolute;
										height: 3px;
										background-color: #5b04fc;
										left: 0;
										transition: .35s;
										bottom: -5px;
										animation-name: line;
										animation-duration: 0.5s;
										animation-fill-mode: forwards;
										z-index: 100;
										transition: width 0.35s ease, background-color 0.35s ease;
									}


								}
							}

							&.on .tab-menu {
								display: block;
							}

							&.on {
								padding-left: 25px;
								color: #111;
								transition: all 0.3s;
								font-family: Barlow-Bold;
							}

							&.item01.on:after {
								content: "01.";
								position: absolute;

								top: 17%;
								left: 0px;
								transform: translateY(-50%);
							}

							&.item02.on:after {
								content: "02.";
								position: absolute;
								top: 9%;
								left: 0px;
								transform: translateY(-50%);
							}

							&.item03.on:after {
								content: "03.";
								position: absolute;
								top: 11%;
								left: 0px;
								transform: translateY(-50%);
							}
						}
					}
				}

				// right_cont
				.cont {
					width: 65%;
					padding-right: 10px;
					padding-left: 30px;

					li {
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100vh;


						.txt_container {
							.pro {
								font-family: scdream5;
								font-size: 12px;
							}

							h2 {
								font-family: scdream7;
								padding-top: 10px;
								font-size: 20px;
							}

							.month {
								font-family: scdream4;
								font-size: 12px;
								margin-top: 20px;

								b {
									font-family: scdream7;
								}
							}

							.exp {
								font-family: scdream4;
								font-size: 13px;
								line-height: 1.7;
								width: 100%;
								margin-top: 30px;
							}

							.sect3-0art {
								margin-top: 50px;
								width: 100%;


								a {
									width: 100%;
									height: 100%;

									img {
										width: 100%;

									}
								}
							}

							.sect3-1art {
								position: relative;
								margin-top: 50px;
								width: 100%;


								.swiper-wrapper {
									width: 100%;
									height: 100%;

									.slide {
										width: 100%;
										height: 100%;

										img {
											object-position: top;
										}
									}
								}
							}

							.sect3-2art {
								margin-top: 80px;
								width: 100%;
								margin-bottom: 250px;

								#carousel {
									position: relative;
									height: 400px;

									overflow: hidden;

									div {
										position: absolute;
										transition: transform 1s, left 1s, opacity 1s, z-index 0s;
										opacity: 1;

										img {
											width: 183px;
											height: 100%;
											transition: width 1s;
											border-radius: 10px;
										}

										&.hideLeft {
											left: 0%;
											opacity: 0;
											transform: translateY(25%) translateX(-50%);

											img {
												width: 100px;
												height: 100%;
											}
										}

										&.hideRight {
											left: 100%;
											opacity: 0;
											transform: translateY(25%) translateX(-50%);

											img {
												width: 100px;
											}
										}

										&.prev {
											z-index: 5;
											left: 30%;
											transform: translateY(30px) translateX(-50%);

											img {
												width: 150px;
											}
										}

										&.prevLeftSecond {
											z-index: 4;
											left: 15%;
											transform: translateY(25%) translateX(-50%);
											opacity: .5;

											img {
												width: 120px;
											}
										}

										&.selected {
											z-index: 10;
											left: 50%;
											transform: translateX(-50%);
										}

										&.next {
											z-index: 5;
											left: 70%;
											transform: translateY(30px) translateX(-50%);

											img {
												width: 150px;
											}
										}

										&.nextRightSecond {
											z-index: 4;
											left: 85%;
											transform: translateY(25%) translateX(-50%);
											opacity: .5;

											img {
												width: 120px;
											}
										}
									}
								}

							}


							h3 {
								margin-top: 30px;
							}

							p {
								margin-top: 30px;
								font-size: 15px;

							}

							a {
								position: relative;
								display: block;
								margin-top: 30px;
								width: max-content;
								transition: all 0.3s;
								font-size: 17px;
								font-weight: 700;
								color: #111;
							}

						}

					}
				}
			}


		}






	}



}