@import url(../font/font.css);
@import url(../font/eng-font.css);
@media screen and (max-width: 768px) {
  section#work .menu {
    width: 60%;
    right: 2%;
  }
  section#work .menu ul {
    width: 100%;
    gap: 20px;
  }
  section#work .menu ul li {
    font-size: 15px;
  }
  section#work .ball {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40vw;
    margin-left: -1%;
    margin-top: 11%;
  }
  section#work .comment {
    margin-top: 10%;
  }
  section#work .comment h3 {
    font-size: 30px;
  }
  section#Project {
    position: relative;
  }
  section#Project .pro-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0%;
    top: 5%;
    z-index: 100;
  }
  section#Project .pro-box .project-title {
    padding: 0;
  }
  section#Project .pro-box .project-title .tab-title {
    width: 90%;
    padding-bottom: 100px;
    margin: auto;
    height: auto;
    border-right: 0px solid #000;
  }
  section#Project .pro-box .project-title .tab-title:nth-child(2) {
    height: auto;
  }
  section#Project .pro-box .project-title .tab-title p {
    font-family: Barlow-Medium;
    font-size: 15px;
    padding-bottom: 10px;
  }
  section#Project .pro-box .project-title .tab-title h2 {
    font-family: Barlow-ExtraLight;
    font-size: 28px;
    color: black;
  }
  section#Project .pro-box .project-title .tab-title .tab-menu {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }
  section#Project .pro-box .project-title .tab-title .tab-menu li {
    font-family: scdream5;
    margin-bottom: 20px;
    font-size: 14px;
    z-index: 200;
    position: relative;
    width: 110px;
  }
  section#Project .pro-box .project-title .tab-title .tab-menu li:hover {
    color: black;
    transition: color 0.35s ease;
    font-family: scdream7;
  }
  section#Project .pro-box .project-title .tab-title .tab-menu li:hover::after {
    content: "";
    width: 100px;
    position: absolute;
    height: 3px;
    background-color: black;
    left: 0;
    transition: 0.35s;
    bottom: -5px;
    animation-name: line;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 100;
    transition: width 0.35s ease, background-color 0.35s ease;
  }
  section#Project .pro-box .project-contents {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }
  section#Project .pro-box .project-contents .sect3-art1 {
    margin-bottom: 100px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc {
    width: 100%;
    padding-left: 0px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .pro {
    font-family: scdream4;
    font-size: 12px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc h2 {
    font-family: scdream7;
    padding-top: 10px;
    font-size: 20px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .month {
    font-family: scdream3;
    font-size: 12px;
    margin-top: 20px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .month b {
    font-family: scdream6;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .exp {
    font-family: scdream4;
    font-size: 14px;
    line-height: 1.7;
    width: 500px;
    margin-top: 30px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-0art {
    margin-top: 70px;
    width: 500px;
    height: 300px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-0art a {
    width: 100%;
    height: 100%;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-0art a img {
    width: 100%;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-1art {
    position: relative;
    margin-top: 100px;
    width: 500px;
    height: 300px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-1art .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-1art .swiper-wrapper .slide {
    width: 100%;
    height: 100%;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-1art .swiper-wrapper .slide img {
    object-position: top;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art {
    margin-top: 80px;
    width: 500px;
    height: 300px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div img {
    width: 167px;
    height: 100%;
    transition: width 1s;
    border-radius: 5px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(25%) translateX(-50%);
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.hideLeft img {
    width: 70px;
    height: 100%;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(25%) translateX(-50%);
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.hideRight img {
    width: 70px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(30px) translateX(-50%);
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.prev img {
    width: 140px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(25%) translateX(-50%);
    opacity: 0.5;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.prevLeftSecond img {
    width: 100px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(30px) translateX(-50%);
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.next img {
    width: 140px;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(25%) translateX(-50%);
    opacity: 0.5;
  }
  section#Project .pro-box .project-contents .sect3-art1 .tab-desc .sect3-2art #carousel div.nextRightSecond img {
    width: 120px;
  }
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  section#Project .gradient-bg {
    width: 100vw;
    height: 350vh;
  }
}