#background {
  background: url('http://payload71.cargocollective.com/1/3/111325/3721041/ico_sphere.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  text-align:center;
}
body{
background: url('https://bit.ly/1sQjfwj') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#sphere{
  color:white;

  font-size:100px;
  position:relative;
  text-align:center;
  margin-top:200px;
  height:100px;
  width:100px;
  opacity:1.0;
  z-index:10;
}
#sphere2 {


  font-size:100px;
  position:relative;
  text-align:center;
  margin-top:200px;
  height:100px;
  width:100px;
  opacity:0.2;
  z-index:11;
}
#fadein {


  position:relative;
  text-align:center;
  margin-top:200px;
  height:100px;
  width:100px;
  opacity:0.2;
}