@import url(../font/eng-font.css);


html,
body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
}


.foot-main{
  width: 100%;
	height: 70vh;

	contain: paint;
	.contact {
		.splide__track {
			background: transparent;
			margin-top: 100px;
			border-top: 1px solid #6f6f6f;
			border-bottom: 1px solid #6f6f6f;
			overflow: hidden;
			height: 85px;
			display: flex;
			align-items: center;


			.splide__list {


				display: flex;
				align-items: center;
				flex-shrink: 0;

				.splide__slide {

					font-family: Barlow-Black;
					color: white;
					font-size: 150px;
					text-align: center;
					white-space: nowrap;
				}
			}
		}
	}

	h2 {
		padding: 30px 0 0 30px;
		font-family: Barlow-Bold;

		color: transparent;
		-webkit-text-stroke: 1px rgb(1, 41, 77);
		font-size: 100px;
	}

	h5 {
		width: 100%;
		border-bottom: 1px solid #000;
		padding: 40px 0 15px 20px;
		font-family:Barlow-Thin;
		font-size: 40px;
	}

	.me {
		width: 50%;
		padding: 40px;
		display: flex;
		align-items: center;
		gap: 100px;

		a {
			width: 100%;
			display: flex;
			align-items: center;
			

			img {
				width: 40px;
				padding: 10px;
			}

			p {

				font-family: Barlow-Light;
				font-size: 17px;
				color: black;


			}
		}



	}

}
.foot {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 70vh;
  contain: paint;
z-index: -1;

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }

    50% {
      transform: translateY(50%);
    }

    100% {
      transform: translateY(-50%);
    }
  }

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }

    50% {
      transform: translateX(50%) translateY(10%);
    }

    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }


  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, #dff9fb, #ffffff);
    top: 0;
    left: 0;

    svg {
      display: none;
    }


    .gradients-container {
      filter: url(#goo) blur(40px);
      width: 100%;
      height: 100%;
    }

    .g1 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(104, 109, 224, 0.8) 0, rgba(104, 109, 224, 0) 50%) no-repeat;
      mix-blend-mode: hard-light;

      width:  200%;
      height:  200%;
      top: calc(50% -  200% / 2);
      left: calc(50% -  200% / 2);

      transform-origin: center center;
      animation: moveVertical 30s ease infinite;

      opacity: 1;
    }

    .g2 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(126, 214, 223, 0.8) 0, rgba(126, 214, 223, 0) 50%) no-repeat;
      mix-blend-mode: hard-light;

      width: 200%;
      height: 200%;
      top: calc(50% - 200% / 2);
      left: calc(50% - 200% / 2);

      transform-origin: calc(50% - 400px);
      animation: moveInCircle 20s reverse infinite;

      opacity: 1;
    }

    .g3 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(223, 249, 251, 0.8) 0, rgba(223, 249, 251, 0) 50%) no-repeat;
      mix-blend-mode:  hard-light;

      width: 200%;
      height: 200%;
      top: calc(50% - 200% / 2 + 200px);
      left: calc(50% - 200% / 2 - 500px);

      transform-origin: calc(50% + 400px);
      animation: moveInCircle 40s linear infinite;

      opacity: 1;
    }

    .g4 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(255, 121, 121, 0.8) 0, rgba(255, 121, 121, 0) 50%) no-repeat;
      mix-blend-mode: hard-light;

      width: 200%;
      height: 200%;
      top: calc(50% - 200% / 2);
      left: calc(50% - 200% / 2);

      transform-origin: calc(50% - 200px);
      animation: moveHorizontal 40s ease infinite;

      opacity: 0.7;
    }

    .g5 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(149, 175, 192, 0.8) 0, rgba(149, 175, 192, 0) 50%) no-repeat;
      mix-blend-mode: hard-light;

      width: calc(200% * 2);
      height: calc(200% * 2);
      top: calc(50% - 200%);
      left: calc(50% - 200%);

      transform-origin: calc(50% - 800px) calc(50% + 200px);
      animation: moveInCircle 20s ease infinite;

      opacity: 1;
    }

    .interactive {
      position: absolute;
      background: radial-gradient(circle at center, rgba(140, 100, 255, 0.8) 0, rgba(140, 100, 255, 0) 50%) no-repeat;
      mix-blend-mode: hard-light;

      width: 100%;
      height: 100%;
      top: -50%;
      left: -50%;

      opacity: 0.7;
    }
  }
}