.swiper-wrapper .slide1 {
  background-image: url(./image/yes24image/slide1.png);
}
.swiper-wrapper .slide2 {
  background-image: url(./image/yes24image/slide2.png);
}
.swiper-wrapper .slide3 {
  background-image: url(./image/yes24image/slide3.jfif);
}
.swiper-wrapper .slide4 {
  background-image: url(./image/yes24image/slide4.jfif);
}
.swiper-wrapper .slide5 {
  background-image: url(./image/yes24image/slide5.jfif);
}
.swiper-wrapper .slide6 {
  background-image: url(./image/yes24image/slide6.jfif);
}
.swiper-wrapper .slide7 {
  background-image: url(./image/yes24image/slide7.jfif);
}
.swiper-wrapper .slide8 {
  background-image: url(./image/yes24image/slide8.jfif);
}
.swiper-wrapper .slide9 {
  background-image: url(./image/yes24image/slide9.png);
}
.swiper-wrapper .slide10 {
  background-image: url(./image/yes24image/slide10.png);
}
.swiper-wrapper .slide11 {
  background-image: url(./image/yes24image/slide11.jfif);
}
.swiper-wrapper .slide12 {
  background-image: url(./image/yes24image/slide12.jfif);
}