@import url(../font/font.css);

.under {


	.swiper-wrapper {
		display: flex;
		width: 100%;
		height: 100%;

		.swiper-slide {
			width: 840px !important;
			position: relative;
			overflow: hidden;



			a {
				&:hover img {
					transform: scale(1.08);
				}

				.caption {
					width: 100%;
					height: 80px;
					position: absolute;
					bottom: 0;
					left: 0;
					background-color: rgba(0, 0, 0, 0.6);
					display: none;
					transition: .35s;
					color: white;

					p {
						padding-top: 15px;
						font-family: scdream4;
					}

					padding: 15px;
				}
			}

			.swiper-slide-active .caption {
				display: block;

			}
		}
	}

}