
.swiper-wrapper{
	.slide1 {
				background-image: url(./image/yes24image/slide1.png);
			}
	
			.slide2 {
				background-image: url(./image/yes24image/slide2.png);
			}
	
			.slide3 {
				background-image: url(./image/yes24image/slide3.jfif);
			}
	
			.slide4 {
				background-image: url(./image/yes24image/slide4.jfif);
			}
	
			.slide5 {
				background-image: url(./image/yes24image/slide5.jfif);
	
			}
	
			.slide6 {
				background-image: url(./image/yes24image/slide6.jfif);
			}
	
			.slide7 {
				background-image: url(./image/yes24image/slide7.jfif);
			}
	
			.slide8 {
				background-image: url(./image/yes24image/slide8.jfif);
			}
	
			.slide9 {
				background-image: url(./image/yes24image/slide9.png);
			}
	
			.slide10 {
				background-image: url(./image/yes24image/slide10.png);
			}
	
			.slide11 {
				background-image: url(./image/yes24image/slide11.jfif);
			}
	
			.slide12 {
				background-image: url(./image/yes24image/slide12.jfif);
			}
}