@import url(../font/font.css);
@import url(../index.css);

$font-size-h2: 40px;
$font-size-h3: 30px;
$font-style: normal;
$font-family-h2: scdream3;
$font-family-h3: scdream2;


$main-color-400: #ddc3fa;
$main-color-500: #8f03db;
$main-color-600: #590385;

$sub-color-400: #b5f1fc;
$sub-color-500: #3617CE;
$sub-color-600: #011a5a;

$neutral-color-400: #adf8dd;
$neutral-color-500: #1ffdc6;
$neutral-color-600: #038B6A;

$height-50vh: 50vh;
$height-100vh: 100vh;

@mixin font-styles($size, $family) {
	font-size: $size;
	font-family: $family;
	font-style: $font-style;
}

h2 {
	@include font-styles($font-size-h2, $font-family-h2);
	color: $main-color-600;
}

h3 {
	@include font-styles($font-size-h3, $font-family-h3);
	color: $main-color-500;
}

section {
	height: $height-100vh;
}

article {
	height: $height-50vh;
	border: 1px solid #eefb04;
}

.progress{
	position: fixed;
	left: 0;
	top: 0;
	width: 1px;
	height: 3px;
	background-color: #039c03;
	z-index: 10;
}



@media screen and (max-width:768px) {

	



}

@media screen and (min-width:769px){
	



}

@media screen and (min-width:1350px) {
	





	
}