@import url(../font/font.css);
@import url(../index.css);
h2 {
  font-size: 40px;
  font-family: scdream3;
  font-style: normal;
  color: #590385;
}

h3 {
  font-size: 30px;
  font-family: scdream2;
  font-style: normal;
  color: #8f03db;
}

section {
  height: 100vh;
}

article {
  height: 50vh;
  border: 1px solid #eefb04;
}

.progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 3px;
  background-color: #039c03;
  z-index: 10;
}