@import url(../reset.css);
@import url(../font/font.css);
.wrap header {
  position: fixed;
  background-color: white;
  height: auto;
  top: 0;
  left: 0;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 20;
  transition: all 0.4s ease-out;
}
.wrap header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: white;
  left: 0;
  top: 147px;
  z-index: 1;
  transition: 0.35s;
}
.wrap header:hover::before {
  height: 200px;
}
.wrap header .headin {
  max-width: 1500px;
  margin: auto;
  height: auto;
}
.wrap header .headin .logo {
  display: block;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  width: 182px;
  height: 48px;
}
.wrap header .headin .head-on {
  position: absolute;
  right: 3%;
  top: 0;
}
.wrap header .headin .head-on .headOn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-items: flex-end;
  width: 100%;
  padding: 20px 0 30px 0;
  z-index: 2;
  top: 0;
}
.wrap header .headin .head-on .headOn li {
  padding: 10px;
  position: relative;
  display: block;
  font-size: 15px;
  font-family: scdream5;
  color: #666;
  line-height: 35px;
  white-space: nowrap;
}
.wrap header .headin .head-on .headOn li a.backG {
  background: url(./image/wedding-icon.png) left 15px center no-repeat #41b4b7;
  width: 117px;
  height: 36px;
  margin-left: 15px;
  margin-right: 5px;
  padding: 11px 17px 10px 38px;
  color: white;
  text-align: center;
  border-radius: 30px;
}
.wrap header .headin .head-on .headOn li a.backB {
  width: 112px;
  height: 36px;
  padding: 11px 20px 10px 20px;
  color: white;
  border-radius: 30px;
  background-color: #9badb6;
}
.wrap header .headin nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
  top: 80px;
}
.wrap header .headin nav .haedM {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}
.wrap header .headin nav .haedM:hover li {
  padding-right: 50px;
  transition: 0.4s;
}
.wrap header .headin nav .haedM > a {
  display: inline-block;
}
.wrap header .headin nav .haedM .One_dep {
  padding-left: 30px;
  position: relative;
}
.wrap header .headin nav .haedM .One_dep:hover span {
  color: #0890c0;
  font-family: scdream9;
}
.wrap header .headin nav .haedM .One_dep.on .two_dep {
  display: block;
}
.wrap header .headin nav .haedM .One_dep.on .two_dep li {
  display: block;
}
.wrap header .headin nav .haedM .One_dep span {
  font-size: 16px;
  font-family: scdream6;
  color: #333;
  line-height: 33px;
}
.wrap header .headin nav .haedM .One_dep span.two {
  display: none;
  font-family: scdream7;
  transition: all 0.35s;
}
.wrap header .headin nav .haedM .One_dep.on .one {
  display: none;
}
.wrap header .headin nav .haedM .One_dep.on .two {
  display: inline-block;
}
.wrap header .headin nav .haedM .One_dep .two_dep {
  position: absolute;
  display: none;
  padding-top: 15px;
  z-index: 100;
  width: 190px;
}
.wrap header .headin nav .haedM .One_dep .two_dep li {
  position: relative;
  padding: 5px 0;
  color: #666;
  font-family: scdream4;
}
.wrap header .headin nav .haedM .One_dep .two_dep li:hover a::before {
  width: 100%;
  animation-name: line;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.wrap header .headin nav .haedM .One_dep .two_dep li a {
  display: inline-block;
  position: relative;
  font-size: 15px;
  line-height: 25px;
  white-space: nowrap;
  z-index: 1;
}
.wrap header .headin nav .haedM .One_dep .two_dep li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #aaf8fb;
  width: 0;
}
.wrap header .headin nav .gnb_section-gnb2 {
  position: absolute;
  right: 10px;
  padding-bottom: 85px;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright {
  display: flex;
  flex-wrap: wrap;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright > a {
  display: inline-block;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright li.One_dep {
  padding-left: 30px;
  transition: 0.35s;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright li.One_dep:hover span {
  color: #0890c0;
  font-family: scdream9;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright li.One_dep:hover {
  padding-left: 80px;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright li.One_dep span {
  font-size: 16px;
  font-family: scdream6;
  color: #333;
  line-height: 33px;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright li.One_dep.on .two_dep {
  display: block;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright li.One_dep .two_dep {
  display: none;
  padding-top: 15px;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright li.One_dep .two_dep li {
  display: block;
  padding: 5px 0;
  color: #666;
  font-family: scdream3;
  z-index: 20;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright li.One_dep .two_dep li a {
  display: inline-block;
  position: relative;
  font-size: 15px;
  line-height: 25px;
  white-space: nowrap;
  z-index: 1;
}
.wrap header .headin nav .gnb_section-gnb2 ul.headright li.One_dep .two_dep li a span {
  font-family: scdream3;
}
.wrap header .headin .m_all_meun_btn_mh_btn {
  display: block;
  position: absolute;
  right: 0;
  width: 19px;
  height: 20px;
  background: url(./image/all-menu-btn.png) no-repeat center;
  background-size: 19px auto;
  text-indent: -9999px;
}
.wrap section {
  width: 100%;
  height: 100vh;
}
.wrap section.sect1 .mySwiper {
  position: relative;
  width: 100%;
  margin-top: 85px;
}
.wrap section.sect1 .mySwiper .swiper-wrapper {
  width: calc(100% - 160px);
  height: 100%;
  margin: 0 auto;
}
.wrap section.sect1 .mySwiper .swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap section.sect1 .mySwiper .swiper-wrapper .Slide1 {
  background-image: url(./image/24093003265625035288.jpg);
}
.wrap section.sect1 .mySwiper .swiper-wrapper .Slide3 {
  background-image: url(./image/24010208561742755197.jpg);
}
.wrap section.sect1 .mySwiper .swiper-wrapper .Slide4 {
  background-image: url(./image/24100203525963385250.jpg);
}
.wrap section.sect1 .mySwiper .swiper-wrapper .Slide5 {
  background-image: url(./image/22012601581515480227.jpg);
}

@media screen and (max-width: 768px) {
  .wrap header {
    top: 0;
    padding-top: 30px;
    height: 85px;
    text-align: center;
  }
  .wrap header .headin .logo {
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91px;
    height: 24px;
  }
  .wrap header .headin .m_prod_meun_btn_mh_btn {
    display: block;
    position: absolute;
    top: 10x;
    left: 5%;
    width: 23px;
    height: 20px;
    background: url(./image/m-prod-menu-btn.png) no-repeat center;
    background-size: 23px auto;
    text-indent: -999px;
  }
  .wrap header .headin .head-on {
    display: none;
  }
  .wrap header .headin nav {
    display: none;
  }
  .wrap header .headin .m_all_meun_btn_mh_btn {
    right: 5%;
  }
  .wrap section.sect1 .mySwiper .swiper-wrapper .Slide1 {
    background-image: url(./image/24093003265701262568.jpg);
  }
  .wrap section.sect1 .mySwiper .swiper-wrapper .Slide3 {
    background-image: url(./image/24071103015784024482.jpg);
  }
  .wrap section.sect1 .mySwiper .swiper-wrapper .Slide4 {
    background-image: url(./image/24100203525991505811.jpg);
  }
  .wrap section.sect1 .mySwiper .swiper-wrapper .Slide5 {
    background-image: url(./image/22012601581605835256.jpg);
  }
}
@media screen and (min-width: 769px) {
  .wrap header {
    width: 100%;
    height: 150px;
  }
  .wrap header .headin .logo {
    left: 5%;
  }
  .wrap header .headin nav {
    padding-left: 150px;
  }
  .wrap header .headin nav .haedM {
    padding-bottom: 0;
  }
  .wrap header .headin nav .haedM .One_dep {
    padding: 0 0 0 20px;
  }
  .wrap header .headin nav .gnb_section-gnb2 {
    display: none;
  }
  .wrap header .headin .m_all_meun_btn_mh_btn {
    top: 80px;
  }
}
@media screen and (min-width: 1500px) {
  .wrap {
    position: relative;
  }
  .wrap header {
    width: 100%;
    height: auto;
  }
  .wrap header .headin {
    width: 100%;
  }
  .wrap header .headin .logo {
    left: 50%;
    transform: translateX(-50%);
  }
  .wrap header .headin nav {
    padding-left: 0;
  }
  .wrap header .headin nav .haedM {
    left: 0;
  }
  .wrap header .headin nav .haedM .One_dep {
    padding-left: 40px;
  }
  .wrap header .headin nav .gnb_section-gnb2 {
    display: block;
    right: 5%;
  }
  .wrap section {
    width: 100%;
    height: 100vh;
  }
  .wrap section.sect1 {
    padding-top: 150px;
  }
}
@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}