@import url(../reset.css);
@import url(../font/font.css);

.wrap {
	header {
		position: fixed;
		background-color: white;
		height: auto;
		top: 0;
		left: 0;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;

		z-index: 20;
		transition: all 0.4s ease-out;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 0px;
			background-color: white;
			left: 0;
			top: 147px;
			z-index: 1;
			transition: .35s;
		}

		&:hover::before {
			height: 200px;
		}

		.headin {
			max-width: 1500px;
			width: 90%;
			margin: auto;
			height: auto;

			.logo {
				display: block;
				position: absolute;
				top: 80px;
				left: 50%;
				transform: translateX(-50%);
				right: auto;
				width: 182px;
				height: 48px;
			}


			.head-on {
				position: absolute;
				right: 3%;
				top: 0;

				.headOn {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
					justify-items: flex-end;
					width: 100%;
					padding: 20px 0 30px 0;
					z-index: 2;
					top: 0;

					li {

						padding: 10px;
						position: relative;
						display: block;
						font-size: 15px;
						font-family: scdream5;
						color: #666;
						line-height: 35px;
						white-space: nowrap;

						a.backG {
							background: url(./image/wedding-icon.png) left 15px center no-repeat #41b4b7;
							width: 117px;
							height: 36px;
							margin-left: 15px;
							margin-right: 5px;
							padding: 11px 17px 10px 38px;
							color: white;
							text-align: center;
							border-radius: 30px;

						}

						a.backB {
							width: 112px;
							height: 36px;
							padding: 11px 20px 10px 20px;
							color: white;
							border-radius: 30px;
							background-color: #9badb6;

						}

					}
				}
			}

			nav {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				z-index: 1;
				top: 80px;



				.haedM {
					display: flex;
					flex-wrap: wrap;
					width: 600px;

					&:hover li {
						padding-right: 50px;
						transition: .4s;
					}

					>a {
						display: inline-block;
					}

					.One_dep {
						padding-left: 30px;
						position: relative;

						&:hover span {
							color: #0890c0;
							font-family: scdream9;
						}



						&.on .two_dep {
							display: block;

							li {
								display: block;
							}
						}

						span {
							font-size: 16px;
							font-family: scdream6;
							color: #333;
							line-height: 33px;

							&.two {
								display: none;
								font-family: scdream7;
								transition: all .35s;
							}

						}

						&.on .one {
							display: none;
						}

						&.on .two {
							display: inline-block;

						}

						.two_dep {
							position: absolute;
							display: none;
							padding-top: 15px;
							z-index: 100;

							width: 190px;

							li {
								position: relative;
								padding: 5px 0;
								color: #666;
								font-family: scdream4;

								&:hover a::before {
									width: 100%;
									animation-name: line;
									animation-duration: 0.5s;
									animation-fill-mode: forwards;
								}

								a {
									display: inline-block;
									position: relative;
									font-size: 15px;
									line-height: 25px;
									white-space: nowrap;
									z-index: 1;

									&::before {
										content: '';
										position: absolute;
										bottom: 0;
										left: 0;
										height: 3px;
										background-color: #aaf8fb;
										width: 0;

									}
								}
							}
						}
					}
				}

				.gnb_section-gnb2 {
					position: absolute;
					right: 10px;
					padding-bottom: 85px;

					ul.headright {
						display: flex;
						flex-wrap: wrap;

						>a {
							display: inline-block;
						}

						li.One_dep {
							padding-left: 30px;
							transition: .35s;

							&:hover span {
								color: #0890c0;
								font-family: scdream9;
							}

							&:hover {
								padding-left: 80px;
							}

							span {
								font-size: 16px;
								font-family: scdream6;
								color: #333;
								line-height: 33px;

							}

							&.on .two_dep {
								display: block;
							}

							.two_dep {
								display: none;
								padding-top: 15px;

								li {
									display: block;
									padding: 5px 0;
									color: #666;
									font-family: scdream3;
									z-index: 20;


									a {
										display: inline-block;
										position: relative;
										font-size: 15px;
										line-height: 25px;
										white-space: nowrap;
										z-index: 1;

										span {
											font-family: scdream3;
										}
									}
								}
							}


						}


					}


				}


			}

			.m_all_meun_btn_mh_btn {
				display: block;
				position: absolute;
				right: 3%;
				width: 19px;
				height: 20px;
				background: url(./image/all-menu-btn.png)no-repeat center;
				background-size: 19px auto;
				text-indent: -9999px;

			}
		}

	}

	section {
		width: 100%;
		height: 100vh;

		&.sect1 {
			width: 90%;
			margin: auto;

			.mySwiper {
				position: relative;
				width: 100%;
				margin-top: 85px;
				height: calc(100vh - 280px);
				overflow: visible;

				.swiper-wrapper {
					width: calc(100% - 160px);
					height: 100%;


					.swiper-slide {
						flex-shrink: 0;
						width: calc(100% - 160px);

						overflow: hidden;
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;

						img {
							width: calc(100% - 160px);
						}

						&.Slide1 {
							background-image: url(./image/24093003265625035288.jpg);
						}

						&.Slide3 {
							background-image: url(./image/24010208561742755197.jpg);
						}

						&.Slide4 {
							background-image: url(./image/24100203525963385250.jpg);
						}

						&.Slide5 {
							background-image: url(./image/22012601581515480227.jpg);
						}
					}



				}

				a.swiper-arrow {
					display: block;
					position: absolute;
					z-index: 20;
					top: 50%;
					width: 50px;
					height: 150px;
					transform: translateY(-50%);

					&.prev {
						left: -5%;
						// pointer-events: none;
					}

					&.next {
						right: -5%;
					}

					svg {
						fill: none;
						stroke: #ccc;
						position: absolute;

						cursor: pointer;

						width: 50px;
						height: 150px;

						path {
							position: absolute;
							stroke: #c9c9c9;
							stroke-width: 4;
							fill: transparent;
							transition: 0.6s;
							stroke-linecap: round;

						}
					}
				}


			}
		}

		&.sect2 {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 55px 0 80px;

			.tit {
				position: relative;
				width: 100%;
				text-align: center;
				font-size: 45px;
				font-family: EncodeSansCondensed-thin;
				color: #333;
				transition: 1s;
				letter-spacing: 10;
				padding-bottom: 50px;
			}

			.inner {
				position: relative;
				width: 90%;
				margin: auto;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.swiper-bullets {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 300px;
					height: 150px;
					transition: 1s;

					.swiper-bullet {
						display: block;
						position: relative;
						width: 100%;
						height: 17px;
						margin-bottom: 27px;
						font-size: 16px;
						font-family: EncodeSansCondensed-medium;
						color: #999;
						letter-spacing: 2px;
						transition: 0.5s;
						cursor: pointer;

						&.on {
							font-size: 22px;
							color: #0890c0;
							font-family: EncodeSansCondensed-Bold;
						}
					}
				}

				.roll {
					position: relative;
					width: 60%;
					margin: auto;
					overflow: hidden;

					.videoes {
						width: 100%;
						position: relative;
						top: 0;
						left: 0;
						right: 0;
						max-width: 710px;
						height: 800px;
						margin: auto;

						.swiper-wrapper {
							width: 100%;
							height: 100%;

							.swiper-slide {
								width: 100%;
								height: 100%;
								margin: auto;
								overflow: hidden;
								display: none;
								opacity: 0;
								transition: opacity 0.5s ease;

								&.on {
									display: block;
									opacity: 1;
								}

								video {
									position: absolute;
									top: 0;
									left: 50%;
									transform: translateX(-50%);
									width: 100%;
									height: 800px;
									object-fit: cover;
								}
							}
						}

					}
				}

				.txt_area {
					position: absolute;
					padding-left: 20px;
					top: 0;
					right: 0;
					width: 20%;
					height: 100%;

					.txt {
						position: absolute;
						top: 50%;
						right: 0;
					
						width: 100%;
						height: auto;
						opacity: 0;
						transition: .35s;

						&.on {
							opacity: 1;
							transform: translateY(-50%);
						}
					
						h3 {
							font-family: scdream8;
							font-size: 30px;
							line-height: 50px;
							color: #333;
							line-height: 45px;
							padding-bottom: 20px;
							transition: .35s;
						

						}

						p {
							font-family: scdream4;
							font-size: 14px;
							line-height: 25px;
							transition: .35s;
						
						}
					}
				}

				a.swiper-arrow {
					display: block;
					position: absolute;
					z-index: 200;
					top: 50%;
					width: 50px;
					height: 150px;
					transform: translateY(-50%);

					&.prev2 {
						left: -5%;
					}

					&.next2 {
						right: -5%;
					}

					svg {
						fill: none;
						stroke: #ccc;
						position: absolute;

						cursor: pointer;

						width: 50px;
						height: 150px;

						path {
							position: absolute;
							stroke: #c9c9c9;
							stroke-width: 4;
							fill: transparent;
							transition: 0.6s;
							stroke-linecap: round;

						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:768px) {
	.wrap {
		header {
			top: 0;
			padding-top: 30px;
			height: 85px;
			text-align: center;

			&:hover::before {
				height: 0px;
			}

			.headin {
				.logo {

					display: inline-block;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 91px;
					height: 24px;
				}

				.m_prod_meun_btn_mh_btn {
					display: block;
					position: absolute;
					top: 10x;
					left: 5%;
					width: 23px;
					height: 20px;
					background: url(./image/m-prod-menu-btn.png) no-repeat center;
					background-size: 23px auto;
					text-indent: -999px;
				}

				.head-on {
					display: none;

				}

				nav {
					display: none;

				}

				.m_all_meun_btn_mh_btn {
					right: 5%;
				}
			}
		}

		section {
			height: auto;

			&.sect1 {
				margin-top: 80px;

				.mySwiper {


					.swiper-wrapper {
						.swiper-slide {
							&.Slide1 {
								background-image: url(./image/24093003265701262568.jpg);
							}

							&.Slide3 {
								background-image: url(./image/24071103015784024482.jpg);
							}

							&.Slide4 {
								background-image: url(./image/24100203525991505811.jpg);
							}

							&.Slide5 {
								background-image: url(./image/22012601581605835256.jpg);
							}
						}
					}
				}
			}

			&.sect2 {
				margin-top: 80px;
				margin-bottom: 100px;

				.tit {
					font-size: 35px;
				}

				.inner {
					width: 100%;
					height: calc(100vh - 70px);



					.roll {
						width: 100%;

						.videoes {
							width: 100%;

							.swiper-wrapper {
								width: 100%;

								.swiper-slide {
									position: relative;
									object-fit: cover;
									object-position: center;

									&::before {
										content: '';
										position: absolute;
										display: block;
										height: 75vh;
										background: url(./image/mainsec4_gradi_m.png) no-repeat center bottom;
										background-size: 100% 100%;
										z-index: 100;
										background-blend-mode: overlay;
									}



								}
							}

							.pagination {
								display: block;
							}
						}
					}

					.txt_area {
						position: absolute;
						z-index: 150;
						color: white;
						left: 5%;
						bottom: 5%;
						width: 80%;
						height: 100%;


						li {
							width: 100%;
							height: 100%;
							padding: 30px;
							bottom: 10%;
							transform: translateY(0);
						}
					}
					a.swiper-arrow {
						&.prev2 {
							left: 0%;
						}
	
						&.next2 {
							right: 0%;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width:769px) {
	.wrap {
		header {
			width: 100%;
			height: 150px;

			.headin {
				width: 95%;

				.logo {

					left: 10%;
				}

				nav {

					padding-left: 180px;

					.haedM {
						padding-bottom: 0;

						.One_dep {
							padding: 0 0 0 20px;
						}
					}

					.gnb_section-gnb2 {
						display: none;
					}


				}

				.m_all_meun_btn_mh_btn {
					top: 90px;
				}
			}
		}
	}

	section {
		&.sect2 {
			width: 100%;
			margin: auto;

			.inner {
				margin-top: 30px;
				width: 100%;

				.roll {
					width: 30%;

					.videoes {
						width: 40%;
					}

				}

				.txt_area {
					padding-left: 30px;
					width: 18%;

					h3 {
						font-family: scdream5;
						font-size: 25px;
					}
				}
			}
		}
	}

}


@media screen and (min-width:1500px) {
	.wrap {
		position: relative;

		header {
			width: 100%;


			.headin {

				width: 100%;

				.logo {
					left: 50%;
					transform: translateX(-50%);
				}

				nav {
					padding-left: 0;


					.haedM {
						left: 0;

						.One_dep {
							padding-left: 40px;
						}



					}

					.gnb_section-gnb2 {
						display: block;
						right: 5%;
					}
				}
			}
		}

		section {
			width: 100%;
			height: 100vh;

			&.sect1 {
				padding-top: 85px;

			}

			&.sect2 {
				.inner {
					margin-top: 30px;

					.roll {
						width: calc(100% - 740px);
					}

				}
			}
		}
	}

}



@keyframes line {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}